In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

###### 1. ###### •	Read the dataset, print last 3 observations and find the data types of each column

In [4]:
dataset=pd.read_csv("C:\\Users\\Rebecca\\Documents\\TL Study Docs\\ML\\Dataset\\Demand_txn.csv",index_col=0)

In [5]:
dataset.tail(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
9747,Hyderabad,Take Away,4068,2018-01-07,274,502.07,0.05,494.529018,NaN,NaN,...,Sun,6660.16,140.6,3.204332,3.051707,1,0,1.75,1.06,30726.72
9748,Hyderabad,Delivery,4056,2018-01-07,370,292.05,0.05,273.741815,0.011583,0.104999,...,Sun,6660.16,140.6,1.634010,1.557966,1,0,1.51,1.17,30726.72
9749,Hyderabad,Delivery,4068,2018-01-07,186,566.43,0.05,562.109067,NaN,NaN,...,Sun,6660.16,140.6,3.684986,3.509459,1,0,1.57,1.17,30726.72

In [6]:
dataset.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

###### 2. •	Convert the data type of ‘Mapped_Item_Code’ field to object
o	Hint: use .astype(str) for the data type conversion

In [7]:
dataset['Mapped_Item_Code'].unique()

array([ 9978,  4064,   965,  1045,  4056,  4065,  4058,  4057,  4061,
        4055,   979,  4066,   978,  4062,   971,   970,   966,  4068,
        4063,   964,  4060, 10000,  4059], dtype=int64)

In [8]:
dataset['Mapped_Item_Code']=dataset['Mapped_Item_Code'].astype(str)

In [9]:
dataset['Mapped_Item_Code'].dtypes

dtype('O')

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9750 entries, 0 to 9749
Data columns (total 22 columns):
City                                          9750 non-null object
Mapped_Sales_Type                             9750 non-null object
Mapped_Item_Code                              9750 non-null object
Transaction_Date                              9750 non-null object
Quantity_Sold                                 9750 non-null int64
Median_Price                                  9750 non-null float64
Average_Tax_Percent                           9750 non-null float64
Effective_Price                               9749 non-null float64
Percent_Quantity_With_Discount                4114 non-null float64
Avg_Discount_Percent_On_Discounted_Items      4112 non-null float64
Year                                          9750 non-null int64
Month                                         9750 non-null int64
Day                                           9750 non-null object
Car_sales                                     9750 non-null float64
F_and_B_Inflation                             9750 non-null float64
F_and_B_Inflation_Adjusted_Effective_Price    9749 non-null float64
F_and_B_Inflation_Adjusted_Median_Price       9750 non-null float64
First_Week_Of_The_Month_Dummy                 9750 non-null int64
Last_Week_Of_The_Month_Dummy                  9750 non-null int64
Day_Of_The_Week_Seasonality                   9750 non-null float64
Month_Of_The_Year_Seasonality                 9673 non-null float64
Two_Wheeler_sales                             9750 non-null float64
dtypes: float64(12), int64(5), object(5)
memory usage: 1.7+ MB

###### 3. •	Convert the field ‘Transaction_Date’ to datetime (Date) column
o	Hint: use pd.to_datetime for conversion

In [11]:
dataset['Transaction_Date']=pd.to_datetime(dataset['Transaction_Date'])

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9750 entries, 0 to 9749
Data columns (total 22 columns):
City                                          9750 non-null object
Mapped_Sales_Type                             9750 non-null object
Mapped_Item_Code                              9750 non-null object
Transaction_Date                              9750 non-null datetime64[ns]
Quantity_Sold                                 9750 non-null int64
Median_Price                                  9750 non-null float64
Average_Tax_Percent                           9750 non-null float64
Effective_Price                               9749 non-null float64
Percent_Quantity_With_Discount                4114 non-null float64
Avg_Discount_Percent_On_Discounted_Items      4112 non-null float64
Year                                          9750 non-null int64
Month                                         9750 non-null int64
Day                                           9750 non-null object
Car_sales                                     9750 non-null float64
F_and_B_Inflation                             9750 non-null float64
F_and_B_Inflation_Adjusted_Effective_Price    9749 non-null float64
F_and_B_Inflation_Adjusted_Median_Price       9750 non-null float64
First_Week_Of_The_Month_Dummy                 9750 non-null int64
Last_Week_Of_The_Month_Dummy                  9750 non-null int64
Day_Of_The_Week_Seasonality                   9750 non-null float64
Month_Of_The_Year_Seasonality                 9673 non-null float64
Two_Wheeler_sales                             9750 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(5), object(4)
memory usage: 1.7+ MB

###### 4. •	Extract only those records whose transaction date is greater than or equal to ‘2017-01-01’ and proceed with below operations
o	Hint: use .loc operator

In [13]:
datasetFiltered=dataset[dataset['Transaction_Date']>='2017-01-01']

In [14]:
datasetFiltered.count()

City                                          9750
Mapped_Sales_Type                             9750
Mapped_Item_Code                              9750
Transaction_Date                              9750
Quantity_Sold                                 9750
Median_Price                                  9750
Average_Tax_Percent                           9750
Effective_Price                               9749
Percent_Quantity_With_Discount                4114
Avg_Discount_Percent_On_Discounted_Items      4112
Year                                          9750
Month                                         9750
Day                                           9750
Car_sales                                     9750
F_and_B_Inflation                             9750
F_and_B_Inflation_Adjusted_Effective_Price    9749
F_and_B_Inflation_Adjusted_Median_Price       9750
First_Week_Of_The_Month_Dummy                 9750
Last_Week_Of_The_Month_Dummy                  9750
Day_Of_The_Week_Seasonality                   9750
Month_Of_The_Year_Seasonality                 9673
Two_Wheeler_sales                             9750
dtype: int64

In [15]:
dataset=dataset.loc[dataset['Transaction_Date']>='2017-01-01']

###### 5•	Check the changed data types of each column and also see how many unique sales types are available in 
‘Mapped_Sales_Type’ column

In [16]:
dataset.dtypes

City                                                  object
Mapped_Sales_Type                                     object
Mapped_Item_Code                                      object
Transaction_Date                              datetime64[ns]
Quantity_Sold                                          int64
Median_Price                                         float64
Average_Tax_Percent                                  float64
Effective_Price                                      float64
Percent_Quantity_With_Discount                       float64
Avg_Discount_Percent_On_Discounted_Items             float64
Year                                                   int64
Month                                                  int64
Day                                                   object
Car_sales                                            float64
F_and_B_Inflation                                    float64
F_and_B_Inflation_Adjusted_Effective_Price           float64
F_and_B_Inflation_Adjusted_Median_Price              float64
First_Week_Of_The_Month_Dummy                          int64
Last_Week_Of_The_Month_Dummy                           int64
Day_Of_The_Week_Seasonality                          float64
Month_Of_The_Year_Seasonality                        float64
Two_Wheeler_sales                                    float64
dtype: object

In [17]:
dataset['Mapped_Sales_Type'].unique()

array(['Take Away', 'Main Hall', 'Express', 'Delivery', 'Dine-in',
       'Bakery'], dtype=object)

###### 6. •	Extract only those records whose ‘Avg_Discount_Percent_On_Discounted_Items’ is lesser than 1.0 and do a sense check if the resulting data frame 
contains any values in the same column that are greater than or equal to 1.0

In [18]:
dataset=dataset.loc[dataset['Avg_Discount_Percent_On_Discounted_Items']<1.0]

In [19]:
dataset['Avg_Discount_Percent_On_Discounted_Items'].unique()

array([0.10502008, 0.10500575, 0.10500784, ..., 0.57748845, 0.73499869,
       0.75923651])

###### 7. •	Create the below dictionary (dict_agg) and pass it as an argument for the aggregate function in 
order to roll up the results grouped by following order: 'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date'
o	dict_aggr = {'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}
o	sample syntax: df.groupby(<groupby list>).agg(dictionary)

In [20]:
dict_aggr={'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}

In [21]:
dict_aggr

{'Quantity_Sold': 'sum', 'Median_Price': 'median', 'Effective_Price': 'median'}

In [22]:
datasetGroup=dataset.groupby(['City','Mapped_Sales_Type','Mapped_Item_Code','Transaction_Date']).agg(dict_aggr)
datasetGroup

                                                               Quantity_Sold  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14                  109
                            4060             2018-06-14                  110
                            4063             2018-06-14                  110
          Delivery          4055             2018-01-10                  567
                                             2018-01-11                  499
                                             2018-01-12                  703
                                             2018-01-14                  715
                                             2018-01-15                  726
                                             2018-01-16                  707
                                             2018-01-17                  609
                                             2018-01-19                  810
                                             2018-01-20                  798
                                             2018-01-21                 1154
                                             2018-01-22                  533
                                             2018-01-25                  667
                                             2018-01-26                 1024
                                             2018-01-27                  743
                                             2018-01-28                 1048
                                             2018-01-31                  682
                                             2018-02-01                  616
                                             2018-02-02                  872
                                             2018-02-03                  778
                                             2018-02-04                 1093
                                             2018-02-07                  703
                                             2018-02-08                  702
                                             2018-02-09                  940
                                             2018-02-10                  906
                                             2018-02-11                 1303
                                             2018-02-12                  619
                                             2018-02-15                  662
...                                                                      ...
          Take Away         4068             2018-04-28                  233
                                             2018-04-29                  295
                                             2018-04-30                  200
                                             2018-05-01                  190
                                             2018-05-02                  177
                                             2018-05-03                  177
                                             2018-05-04                  219
                                             2018-05-05                  235
                                             2018-05-06                  269
                                             2018-05-09                  184
                                             2018-05-12                  255
                                             2018-05-28                  180
                                             2018-06-21                  171
                                             2018-07-13                  188
                            970              2018-04-24                  112
                            9978             2018-04-20                  189
                                             2018-04-21                  170
                                             2018-04-22                  191
                                             2018-04-24                  157
                                             2018-04-25                  194
                                             2018-04-26                  182
                                             2018-04-27                  199
                                             2018-04-28                  183
                                             2018-04-29                  199
                                             2018-04-30                  187
                                             2018-05-01                  166
                                             2018-05-02                  192
                                             2018-05-03                  180
                                             2018-05-04                  195
                                             2018-05-06                  203

                                                               Median_Price  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14               359.0
                            4060             2018-06-14               378.0
                            4063             2018-06-14               732.0
          Delivery          4055             2018-01-10               281.1
                                             2018-01-11               281.1
                                             2018-01-12               281.1
                                             2018-01-14               281.1
                                             2018-01-15               281.1
                                             2018-01-16               281.1
                                             2018-01-17               281.1
                                             2018-01-19               281.1
                                             2018-01-20               281.1
                                             2018-01-21               281.1
                                             2018-01-22               281.1
                                             2018-01-25               281.1
                                             2018-01-26               281.1
                                             2018-01-27               281.1
                                             2018-01-28               281.1
                                             2018-01-31               281.1
                                             2018-02-01               281.1
                                             2018-02-02               281.1
                                             2018-02-03               281.1
                                             2018-02-04               281.1
                                             2018-02-07               281.1
                                             2018-02-08               281.1
                                             2018-02-09               281.1
                                             2018-02-10               281.1
                                             2018-02-11               281.1
                                             2018-02-12               281.1
                                             2018-02-15               281.1
...                                                                     ...
          Take Away         4068             2018-04-28               542.0
                                             2018-04-29               542.0
                                             2018-04-30               542.0
                                             2018-05-01               542.0
                                             2018-05-02               542.0
                                             2018-05-03               542.0
                                             2018-05-04               542.0
                                             2018-05-05               542.0
                                             2018-05-06               542.0
                                             2018-05-09               542.0
                                             2018-05-12               542.0
                                             2018-05-28               542.0
                                             2018-06-21               542.0
                                             2018-07-13               542.0
                            970              2018-04-24               312.0
                            9978             2018-04-20               187.0
                                             2018-04-21               187.0
                                             2018-04-22               187.0
                                             2018-04-24               187.0
                                             2018-04-25               187.0
                                             2018-04-26               187.0
                                             2018-04-27               187.0
                                             2018-04-28               187.0
                                             2018-04-29               187.0
                                             2018-04-30               187.0
                                             2018-05-01               187.0
                                             2018-05-02               187.0
                                             2018-05-03               187.0
                                             2018-05-04               187.0
                                             2018-05-06               187.0

                                                               Effective_Price
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14             314.270000
                            4060             2018-06-14             332.220000
                            4063             2018-06-14             666.760000
          Delivery          4055             2018-01-10             262.359057
                                             2018-01-11             262.446314
                                             2018-01-12             262.391672
                                             2018-01-14             262.357417
                                             2018-01-15             262.466894
                                             2018-01-16             262.465386
                                             2018-01-17             262.458213
                                             2018-01-19             262.440229
                                             2018-01-20             262.407380
                                             2018-01-21             262.418782
                                             2018-01-22             262.450782
                                             2018-01-25             262.424083
                                             2018-01-26             262.478795
                                             2018-01-27             262.433608
                                             2018-01-28             262.456297
                                             2018-01-31             262.349107
                                             2018-02-01             262.458713
                                             2018-02-02             262.359001
                                             2018-02-03             262.371349
                                             2018-02-04             262.458024
                                             2018-02-07             262.465101
                                             2018-02-08             262.428579
                                             2018-02-09             262.291882
                                             2018-02-10             262.447509
                                             2018-02-11             262.392575
                                             2018-02-12             262.373602
                                             2018-02-15             257.901706
...                                                                        ...
          Take Away         4068             2018-04-28             487.201803
                                             2018-04-29             487.201848
                                             2018-04-30             487.201348
                                             2018-05-01             487.201266
                                             2018-05-02             487.202121
                                             2018-05-03             487.202121
                                             2018-05-04             487.202037
                                             2018-05-05             487.202742
                                             2018-05-06             487.201266
                                             2018-05-09             535.109589
                                             2018-05-12             534.405833
                                             2018-05-28             535.031015
                                             2018-06-21             523.325333
                                             2018-07-13             533.900260
                            970              2018-04-24             269.860000
                            9978             2018-04-20             162.165385
                                             2018-04-21             167.893220
                                             2018-04-22             162.503250
                                             2018-04-24             161.878696
                                             2018-04-25             163.940482
                                             2018-04-26             168.476901
                                             2018-04-27             167.010227
                                             2018-04-28             167.634722
                                             2018-04-29             167.599546
                                             2018-04-30             164.592632
                                             2018-05-01             161.523636
                                             2018-05-02             169.316049
                                             2018-05-03             164.509565
                                             2018-05-04             164.507619
                                             2018-05-06             163.006087

[3367 rows x 3 columns]

###### 8. •	Print first 5 observations where Effective_Price is not null

In [23]:
dataset[dataset['Effective_Price'].isnull()].head(5)

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales]
Index: []

[0 rows x 22 columns]

In [24]:
dataset[dataset['Effective_Price'].notnull()].head(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52

###### 9.•	Print first 10 observations where ‘City’ is ‘Hyderabad’ AND ‘Mapped_Sales_Type’ is ‘Delivery’
o	Hint: df.loc[(<condition 1>) & (<condition 2>), :].head(10)

In [25]:
dataset.loc[dataset['City'].str.contains('Hyderabad') & dataset['Mapped_Sales_Type'].str.contains('Delivery')].head(10)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
42,Hyderabad,Delivery,4058,2018-07-31,532,272.0,0.05,252.660214,0.014252,0.105008,...,Tue,7559.28,143.7,1.452054,1.384830,0,1,0.72,1.06,37307.52
46,Hyderabad,Delivery,4064,2018-07-31,261,682.0,0.05,683.031933,0.006667,0.105008,...,Tue,7559.28,143.7,4.446986,4.237996,0,1,0.76,1.06,37307.52
62,Hyderabad,Delivery,4068,2018-07-30,139,622.0,0.05,618.399286,0.035714,0.105009,...,Mon,7559.28,143.7,3.997211,3.820459,0,1,0.65,1.06,37307.52
75,Hyderabad,Delivery,4065,2018-07-30,133,752.0,0.05,750.476818,0.090909,0.105007,...,Mon,7559.28,143.7,4.916331,4.725122,0,1,0.60,1.06,37307.52
77,Hyderabad,Delivery,4056,2018-07-30,485,322.0,0.05,305.108823,0.013369,0.105004,...,Mon,7559.28,143.7,1.817041,1.732777,0,1,0.72,1.06,37307.52
88,Hyderabad,Delivery,4064,2018-07-30,230,682.0,0.05,680.233950,0.050420,0.105005,...,Mon,7559.28,143.7,4.427515,4.237996,0,1,0.61,1.06,37307.52
89,Hyderabad,Delivery,4058,2018-07-30,473,272.0,0.05,252.668923,0.013812,0.105005,...,Mon,7559.28,143.7,1.452115,1.384830,0,1,0.71,1.06,37307.52

###### 10. •	Print first 3 observations where Percent_Quantity_With_Discount is not equal to zero
o	Hint: use != operator

In [26]:
dataset.loc[dataset['Percent_Quantity_With_Discount']!=0].head(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52

###### 11. •	Create a new column ‘Range’ and populate it as 1 if Effective_Price is greater than 500, else 0.5
o	Hint: df[‘New column’] = np.where(<condition>, if true, if false)

In [27]:
dataset['Range']=[1 if x >500 else 0.5 for x in dataset['Effective_Price']]

In [28]:
dataset.head(2)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Range
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52,0.5
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52,1.0

In [29]:
x=['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent','Effective_Price', 'Percent_Quantity_With_Discount',
   'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation','F_and_B_Inflation_Adjusted_Effective_Price',
'F_and_B_Inflation_Adjusted_Median_Price','Quantity_Sold']
XYFull=dataset[x]

In [30]:
XYFull.corr()

,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,Quantity_Sold
Median_Price,1.000000e+00,7.123332e-15,9.983656e-01,2.140664e-01,-2.282925e-01,1.531538e-02,2.091315e-02,9.983624e-01,9.997767e-01,-4.832408e-01
Average_Tax_Percent,7.123332e-15,1.000000e+00,4.482249e-16,4.073250e-16,-2.877990e-15,-3.782378e-13,1.241327e-12,3.508083e-15,1.220573e-14,1.322693e-15
Effective_Price,9.983656e-01,4.482249e-16,1.000000e+00,1.613933e-01,-2.257972e-01,3.188454e-02,2.953283e-02,9.997717e-01,9.979040e-01,-4.760799e-01
Percent_Quantity_With_Discount,2.140664e-01,4.073250e-16,1.613933e-01,1.000000e+00,-1.752703e-01,-3.145468e-01,-1.582320e-01,1.650175e-01,2.178611e-01,-2.531248e-01
Avg_Discount_Percent_On_Discounted_Items,-2.282925e-01,-2.877990e-15,-2.257972e-01,-1.752703e-01,1.000000e+00,1.682464e-02,2.669008e-02,-2.262400e-01,-2.286942e-01,4.312312e-01
Car_sales,1.531538e-02,-3.782378e-13,3.188454e-02,-3.145468e-01,1.682464e-02,1.000000e+00,3.746624e-01,2.492164e-02,8.362657e-03,6.654979e-02
F_and_B_Inflation,2.091315e-02,1.241327e-12,2.953283e-02,-1.582320e-01,2.669008e-02,3.746624e-01,1.000000e+00,1.138390e-02,2.979139e-03,9.486292e-02
F_and_B_Inflation_Adjusted_Effective_Price,9.983624e-01,3.508083e-15,9.997717e-01,1.650175e-01,-2.262400e-01,2.492164e-02,1.138390e-02,1.000000e+00,9.983523e-01,-4.777277e-01
F_and_B_Inflation_Adjusted_Median_Price,9.997767e-01,1.220573e-14,9.979040e-01,2.178611e-01,-2.286942e-01,8.362657e-03,2.979139e-03,9.983523e-01,1.000000e+00,-4.847916e-01
Quantity_Sold,-4.832408e-01,1.322693e-15,-4.760799e-01,-2.531248e-01,4.312312e-01,6.654979e-02,9.486292e-02,-4.777277e-01,-4.847916e-01,1.000000e+00

In [31]:
XYFulls=XYFull

In [32]:
def filter_df_corr(inp_data, corr_val):
    '''
    Returns an array or dataframe (based on type(inp_data) adjusted to drop \
        columns with high correlation to one another. Takes second arg corr_val
        that defines the cutoff

    ----------
    inp_data : np.array, pd.DataFrame
        Values to consider
    corr_val : float
        Value [0, 1] on which to base the correlation cutoff
    '''
    # Creates Correlation Matrix
    if isinstance(inp_data, np.ndarray):
        inp_data = pd.DataFrame(data=inp_data)
        array_flag = True
    else:
        array_flag = False
    corr_matrix = inp_data.corr()

    # Iterates through Correlation Matrix Table to find correlated columns
    drop_cols = []
    n_cols = len(corr_matrix.columns)

    for i in range(n_cols):
        for k in range(i+1, n_cols):
            val = corr_matrix.iloc[k, i]
            col = corr_matrix.columns[i]
            row = corr_matrix.index[k]
            if abs(val) >= corr_val:
                # Prints the correlated feature set and the corr val
                print(col, "|", row, "|", round(val, 2))
                drop_cols.append(col)

    # Drops the correlated columns
    drop_cols = set(drop_cols)
    inp_data = inp_data.drop(columns=drop_cols)
    # Return same type as inp
    if array_flag:
        return inp_data.values
    else:
        return inp_data
    

modifiedFrame=filter_df_corr(XYFulls,0.95)

Median_Price | Effective_Price | 1.0
Median_Price | F_and_B_Inflation_Adjusted_Effective_Price | 1.0
Median_Price | F_and_B_Inflation_Adjusted_Median_Price | 1.0
Effective_Price | F_and_B_Inflation_Adjusted_Effective_Price | 1.0
Effective_Price | F_and_B_Inflation_Adjusted_Median_Price | 1.0
F_and_B_Inflation_Adjusted_Effective_Price | F_and_B_Inflation_Adjusted_Median_Price | 1.0

In [33]:
modifiedFrame.shape

(3367, 8)

In [34]:
modifiedFrame.head(2)

,Mapped_Item_Code,Average_Tax_Percent,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Median_Price,Quantity_Sold
5,4056,0.05,0.003953,0.105020,7559.28,143.7,1.732777,617
10,4061,0.05,0.151515,0.105006,7559.28,143.7,6.047321,144

In [35]:
XYFulls.shape

(3367, 11)

In [52]:
high_corr_var

[('Median_Price', 'Effective_Price'),
 ('Median_Price', 'F_and_B_Inflation_Adjusted_Effective_Price'),
 ('Median_Price', 'F_and_B_Inflation_Adjusted_Median_Price'),
 ('Effective_Price', 'F_and_B_Inflation_Adjusted_Effective_Price'),
 ('Effective_Price', 'F_and_B_Inflation_Adjusted_Median_Price'),
 ('F_and_B_Inflation_Adjusted_Effective_Price',
  'F_and_B_Inflation_Adjusted_Median_Price')]

In [ ]:
sns.pairplot(modifiedFrame,hue='Quantity_Sold',size=2.5)

C:\Users\Rebecca\Anaconda3\lib\site-packages\seaborn\axisgrid.py:2065: UserWarning: The `size` parameter has been renamed to `height`; pleaes update your code.
  warnings.warn(msg, UserWarning)
C:\Users\Rebecca\Anaconda3\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval
C:\Users\Rebecca\Anaconda3\lib\site-packages\numpy\core\_methods.py:140: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\Users\Rebecca\Anaconda3\lib\site-packages\numpy\core\_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\Users\Rebecca\Anaconda3\lib\site-packages\statsmodels\nonparametric\bandwidths.py:20: RuntimeWarning: invalid value encountered in minimum
  return np.minimum(np.std(X, axis=0, ddof=1), IQR)
C:\Users\Rebecca\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:83: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\Rebecca\Anaconda3\lib\site-packages\statsmodels\nonparametric\kde.py:488: RuntimeWarning: invalid value encountered in true_divide
  binned = fast_linbin(X, a, b, gridsize) / (delta * nobs)
C:\Users\Rebecca\Anaconda3\lib\site-packages\statsmodels\nonparametric\kdetools.py:34: RuntimeWarning: invalid value encountered in double_scalars
  FAC1 = 2*(np.pi*bw/RANGE)**2

KeyboardInterrupt:

###### 12.•	Split the dataset into X and Y based on below list:
x = 'Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent',  
'Effective_Price', 'Percent_Quantity_With_Discount',
'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation',
'F_and_B_Inflation_Adjusted_Effective_Price',
'F_and_B_Inflation_Adjusted_Median_Price'. And  y = ‘Quantity_Sold’

In [36]:
x=['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent','Effective_Price', 'Percent_Quantity_With_Discount',
   'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation','F_and_B_Inflation_Adjusted_Effective_Price',
'F_and_B_Inflation_Adjusted_Median_Price']
X=modifiedFrame

In [37]:
X.head(2)

,Mapped_Item_Code,Average_Tax_Percent,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Median_Price,Quantity_Sold
5,4056,0.05,0.003953,0.105020,7559.28,143.7,1.732777,617
10,4061,0.05,0.151515,0.105006,7559.28,143.7,6.047321,144

In [38]:
y ='Quantity_Sold'
Y=dataset[y]
Y.head(2)

5     617
10    144
Name: Quantity_Sold, dtype: int64

In [39]:
Y.dtypes

dtype('int64')

In [40]:
X.dtypes

Mapped_Item_Code                             object
Average_Tax_Percent                         float64
Percent_Quantity_With_Discount              float64
Avg_Discount_Percent_On_Discounted_Items    float64
Car_sales                                   float64
F_and_B_Inflation                           float64
F_and_B_Inflation_Adjusted_Median_Price     float64
Quantity_Sold                                 int64
dtype: object

13.•	Run the Linear Regression model on the above x and y features.
Feel free to explore the modeling parameters and come up with a high R2 
•	While fitting x and y to get stats summary, data type of x should be converted to float due to categorical features, otherwise the summary would return error
o	Hint: sm.OLS(y, x.astype(float)).fit()

In [41]:
X.dtypes

Mapped_Item_Code                             object
Average_Tax_Percent                         float64
Percent_Quantity_With_Discount              float64
Avg_Discount_Percent_On_Discounted_Items    float64
Car_sales                                   float64
F_and_B_Inflation                           float64
F_and_B_Inflation_Adjusted_Median_Price     float64
Quantity_Sold                                 int64
dtype: object

In [42]:
X['Mapped_Item_Code']=X['Mapped_Item_Code'].astype(int)

In [56]:
X.columns

Index(['Mapped_Item_Code', 'Average_Tax_Percent',
       'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items', 'Car_sales',
       'F_and_B_Inflation', 'F_and_B_Inflation_Adjusted_Median_Price',
       'Quantity_Sold'],
      dtype='object')

In [57]:
modifiedFrame.columns

Index(['Mapped_Item_Code', 'Average_Tax_Percent',
       'Percent_Quantity_With_Discount',
       'Avg_Discount_Percent_On_Discounted_Items', 'Car_sales',
       'F_and_B_Inflation', 'F_and_B_Inflation_Adjusted_Median_Price',
       'Quantity_Sold'],
      dtype='object')

In [43]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3367 entries, 5 to 9748
Data columns (total 8 columns):
Mapped_Item_Code                            3367 non-null int32
Average_Tax_Percent                         3367 non-null float64
Percent_Quantity_With_Discount              3367 non-null float64
Avg_Discount_Percent_On_Discounted_Items    3367 non-null float64
Car_sales                                   3367 non-null float64
F_and_B_Inflation                           3367 non-null float64
F_and_B_Inflation_Adjusted_Median_Price     3367 non-null float64
Quantity_Sold                               3367 non-null int64
dtypes: float64(6), int32(1), int64(1)
memory usage: 223.6 KB

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=101)

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
lr=LinearRegression()

In [48]:
lr.fit(Xtrain,Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [49]:
outPredicted=lr.predict(Xtest)

In [50]:
list(zip(Ytest,outPredicted))

[(2634, 2634.0),
 (136, 136.00000000000023),
 (761, 761.0),
 (788, 788.0000000000001),
 (280, 280.00000000000017),
 (1208, 1208.0),
 (377, 376.99999999999994),
 (190, 190.00000000000014),
 (515, 515.0000000000001),
 (454, 454.0000000000001),
 (632, 632.0),
 (362, 362.0000000000001),
 (475, 475.0000000000001),
 (150, 149.99999999999997),
 (915, 915.0000000000001),
 (218, 218.00000000000017),
 (393, 393.00000000000006),
 (457, 457.0000000000001),
 (273, 273.00000000000017),
 (194, 194.00000000000026),
 (126, 125.99999999999997),
 (161, 160.99999999999994),
 (235, 235.0),
 (176, 175.9999999999998),
 (400, 400.00000000000017),
 (278, 278.0000000000001),
 (1547, 1547.0),
 (1404, 1404.0),
 (297, 297.0000000000002),
 (223, 223.00000000000017),
 (203, 203.0000000000003),
 (205, 204.99999999999974),
 (185, 185.0000000000002),
 (224, 224.00000000000014),
 (500, 500.0000000000002),
 (1128, 1128.0),
 (2739, 2739.0),
 (845, 845.0000000000001),
 (205, 205.00000000000003),
 (337, 337.0000000000001),
 (794, 794.0000000000001),
 (309, 309.0000000000001),
 (202, 202.0),
 (1326, 1326.0),
 (751, 751.0000000000001),
 (262, 261.9999999999998),
 (2978, 2978.0),
 (815, 815.0000000000001),
 (194, 194.00000000000003),
 (229, 228.99999999999977),
 (132, 131.99999999999997),
 (783, 783.0000000000001),
 (419, 419.00000000000006),
 (167, 167.0),
 (1961, 1961.0),
 (562, 562.0),
 (137, 137.0000000000002),
 (170, 169.99999999999974),
 (1007, 1007.0000000000001),
 (653, 653.0),
 (564, 564.0000000000001),
 (2054, 2054.0),
 (146, 146.00000000000003),
 (408, 408.0),
 (616, 616.0000000000001),
 (1428, 1428.0),
 (2112, 2112.0),
 (134, 133.99999999999997),
 (232, 232.00000000000014),
 (735, 735.0000000000001),
 (269, 269.0000000000003),
 (1517, 1516.9999999999998),
 (165, 165.00000000000023),
 (183, 182.99999999999994),
 (363, 363.0000000000002),
 (184, 184.00000000000003),
 (598, 598.0000000000001),
 (932, 932.0000000000001),
 (1453, 1453.0),
 (158, 157.99999999999991),
 (844, 844.0),
 (613, 613.0),
 (244, 244.00000000000014),
 (1499, 1499.0),
 (182, 181.99999999999994),
 (133, 133.00000000000003),
 (917, 917.0),
 (2623, 2623.0),
 (197, 197.00000000000014),
 (2425, 2425.0),
 (338, 338.0),
 (120, 120.0),
 (360, 360.0000000000001),
 (500, 500.0000000000001),
 (461, 461.0000000000001),
 (318, 318.0000000000001),
 (1147, 1147.0),
 (132, 132.0000000000001),
 (1219, 1219.0),
 (265, 265.0000000000001),
 (1463, 1463.0),
 (701, 701.0000000000001),
 (319, 319.0),
 (281, 281.0000000000001),
 (342, 342.00000000000017),
 (135, 135.00000000000017),
 (229, 228.9999999999998),
 (199, 198.99999999999991),
 (167, 167.0000000000001),
 (148, 148.0),
 (177, 177.00000000000023),
 (381, 381.00000000000006),
 (195, 194.99999999999977),
 (3337, 3337.0),
 (519, 519.0),
 (622, 622.0000000000001),
 (395, 395.0000000000001),
 (2381, 2381.0),
 (145, 144.99999999999991),
 (3016, 3016.0),
 (1399, 1399.0000000000002),
 (143, 142.99999999999991),
 (135, 135.0000000000002),
 (167, 167.0000000000002),
 (268, 268.0000000000001),
 (188, 187.99999999999994),
 (471, 471.00000000000006),
 (209, 209.00000000000017),
 (420, 420.0000000000001),
 (735, 735.0),
 (1047, 1047.0),
 (118, 118.00000000000009),
 (177, 176.99999999999997),
 (178, 178.00000000000017),
 (776, 776.0000000000001),
 (1575, 1575.0000000000002),
 (748, 748.0000000000001),
 (1220, 1220.0),
 (662, 662.0000000000001),
 (600, 600.0000000000001),
 (1982, 1982.0),
 (1304, 1304.0),
 (455, 455.00000000000006),
 (254, 254.00000000000014),
 (254, 253.99999999999991),
 (454, 454.0000000000001),
 (1410, 1410.0),
 (3251, 3251.0),
 (912, 912.0),
 (212, 211.99999999999974),
 (303, 303.0000000000001),
 (156, 156.00000000000003),
 (564, 564.0000000000001),
 (288, 288.00000000000006),
 (167, 167.00000000000006),
 (1521, 1521.0),
 (216, 216.00000000000003),
 (1805, 1805.0),
 (808, 808.0000000000001),
 (1773, 1773.0),
 (1229, 1229.0),
 (309, 309.00000000000017),
 (753, 753.0000000000001),
 (213, 213.00000000000006),
 (138, 137.99999999999991),
 (209, 208.9999999999998),
 (158, 157.99999999999994),
 (174, 174.00000000000003),
 (130, 129.99999999999991),
 (1163, 1163.0),
 (172, 171.99999999999974),
 (244, 244.00000000000014),
 (1607, 1607.0),
 (905, 905.0),
 (172, 172.00000000000023),
 (329, 329.00000000000006),
 (815, 815.0000000000001),
 (1321, 1321.0),
 (1248, 1248.0),
 (1335, 1335.0),
 (1461, 1461.0),
 (892, 892.0000000000002),
 (1171, 1171.0000000000002),
 (138, 138.00000000000006),
 (1726, 1726.0),
 (216, 216.00000000000017),
 (403, 403.00000000000017),
 (272, 271.9999999999998),
 (1032, 1032.0),
 (614, 614.0000000000001),
 (252, 252.00000000000006),
 (2519, 2519.0),
 (418, 418.00000000000006),
 (1230, 1230.0),
 (235, 235.00000000000026),
 (174, 173.99999999999977),
 (336, 335.99999999999994),
 (254, 254.0),
 (233, 233.0),
 (295, 295.00000000000006),
 (263, 263.00000000000006),
 (1119, 1119.0),
 (1855, 1855.0),
 (133, 133.0000000000002),
 (216, 216.00000000000017),
 (308, 308.00000000000006),
 (159, 158.9999999999999),
 (219, 219.0),
 (2238, 2238.0),
 (218, 217.99999999999972),
 (131, 131.00000000000003),
 (274, 274.00000000000017),
 (1464, 1464.0),
 (277, 277.0000000000001),
 (790, 790.0),
 (1013, 1013.0),
 (1542, 1542.0),
 (3254, 3254.0),
 (470, 470.00000000000017),
 (719, 719.0000000000002),
 (532, 532.0000000000001),
 (119, 118.99999999999991),
 (525, 525.0000000000001),
 (449, 449.0000000000001),
 (228, 228.0),
 (271, 271.0000000000001),
 (2056, 2056.0),
 (322, 322.00000000000006),
 (418, 418.00000000000006),
 (147, 147.00000000000003),
 (138, 137.99999999999991),
 (138, 138.0),
 (675, 675.0000000000001),
 (218, 218.0000000000002),
 (120, 120.0000000000001),
 (166, 166.0000000000001),
 (1126, 1126.0),
 (422, 422.00000000000017),
 (2522, 2522.0),
 (425, 425.0000000000004),
 (245, 244.9999999999998),
 (148, 147.99999999999997),
 (192, 192.00000000000037),
 (141, 141.00000000000014),
 (1150, 1150.0),
 (1920, 1920.0000000000002),
 (500, 500.00000000000017),
 (1742, 1742.0),
 (160, 159.99999999999997),
 (315, 315.0000000000001),
 (295, 294.9999999999997),
 (322, 322.0),
 (208, 208.00000000000003),
 (1261, 1261.0),
 (127, 126.99999999999999),
 (1605, 1605.0000000000002),
 (164, 163.99999999999997),
 (750, 750.0000000000002),
 (753, 753.0000000000001),
 (348, 348.0000000000001),
 (307, 307.00000000000006),
 (197, 197.0),
 (158, 157.99999999999991),
 (227, 226.99999999999997),
 (3599, 3599.0),
 (622, 622.0000000000001),
 (158, 158.00000000000026),
 (148, 147.99999999999997),
 (114, 114.00000000000009),
 (1456, 1456.0),
 (167, 167.00000000000006),
 (221, 221.0000000000001),
 (1821, 1821.0),
 (1205, 1205.0),
 (143, 142.99999999999997),
 (743, 743.0000000000001),
 (334, 334.0000000000002),
 (183, 183.00000000000026),
 (1123, 1123.0),
 (651, 651.0),
 (137, 136.9999999999998),
 (1533, 1533.0000000000002),
 (272, 272.00000000000017),
 (477, 477.0000000000002),
 (350, 350.00000000000006),
 (182, 182.00000000000028),
 (518, 518.0000000000002),
 (224, 224.00000000000009),
 (147, 147.00000000000003),
 (208, 208.00000000000014),
 (1613, 1613.0),
 (226, 226.0),
 (1445, 1445.0),
 (1989, 1989.0),
 (473, 473.00000000000006),
 (1789, 1789.0),
 (2211, 2211.0),
 (237, 237.00000000000017),
 (625, 625.0000000000001),
 (166, 165.99999999999994),
 (322, 322.00000000000017),
 (271, 271.0),
 (288, 288.00000000000017),
 (319, 319.0000000000002),
 (261, 261.00000000000006),
 (353, 352.9999999999998),
 (280, 280.0),
 (634, 634.0),
 (1400, 1400.0000000000002),
 (214, 214.0000000000001),
 (1360, 1360.0),
 (149, 148.99999999999991),
 (148, 148.00000000000006),
 (1293, 1293.0),
 (177, 177.00000000000026),
 (137, 137.00000000000003),
 (251, 250.99999999999997),
 (183, 183.0000000000001),
 (931, 931.0000000000001),
 (160, 159.99999999999997),
 (180, 180.0000000000002),
 (2078, 2078.0),
 (166, 165.9999999999998),
 (232, 231.9999999999998),
 (357, 357.0),
 (117, 117.00000000000001),
 (334, 334.0000000000001),
 (1011, 1011.0000000000001),
 (1004, 1004.0),
 (114, 114.00000000000011),
 (494, 494.00000000000006),
 (246, 245.99999999999974),
 (444, 444.00000000000006),
 (1213, 1213.0),
 (1479, 1479.0),
 (1311, 1311.0),
 (1635, 1635.0),
 (860, 860.0),
 (132, 132.0),
 (1971, 1971.0),
 (634, 634.0),
 (537, 537.0000000000001),
 (3093, 3093.0),
 (138, 138.0),
 (528, 528.0000000000002),
 (749, 749.0000000000001),
 (161, 160.99999999999994),
 (1222, 1222.0),
 (214, 214.00000000000003),
 (261, 261.00000000000006),
 (325, 325.00000000000017),
 (426, 426.00000000000006),
 (966, 966.0),
 (522, 522.0),
 (1069, 1069.0),
 (163, 163.0000000000002),
 (1928, 1928.0),
 (676, 676.0),
 (1312, 1312.0),
 (366, 366.00000000000006),
 (918, 918.0000000000001),
 (199, 199.0000000000001),
 (231, 230.99999999999974),
 (824, 824.0),
 (1958, 1958.0),
 (951, 951.0),
 (190, 189.99999999999997),
 (736, 736.0000000000001),
 (1106, 1106.0),
 (2966, 2966.0),
 (2472, 2472.0),
 (578, 578.0000000000002),
 (198, 198.00000000000023),
 (467, 467.00000000000006),
 (734, 734.0000000000001),
 (327, 327.0),
 (235, 235.00000000000014),
 (140, 140.0000000000001),
 (325, 325.00000000000017),
 (1392, 1392.0),
 (1830, 1829.9999999999998),
 (137, 136.9999999999999),
 (1422, 1422.0),
 (119, 118.9999999999999),
 (174, 173.99999999999991),
 (374, 374.0000000000001),
 (3174, 3174.0),
 (142, 141.99999999999994),
 (1358, 1358.0),
 (153, 153.00000000000014),
 (388, 388.0000000000001),
 (2475, 2475.0),
 (989, 989.0),
 (682, 682.0),
 (208, 207.99999999999972),
 (169, 169.00000000000003),
 (140, 140.0),
 (421, 420.99999999999994),
 (159, 159.00000000000006),
 (231, 231.00000000000014),
 (199, 199.00000000000014),
 (703, 703.0000000000001),
 (408, 408.0000000000001),
 (340, 340.00000000000006),
 (367, 367.0000000000001),
 (337, 337.00000000000017),
 (194, 194.0000000000001),
 (225, 224.99999999999997),
 (406, 406.0000000000001),
 (120, 119.99999999999997),
 (1601, 1600.9999999999998),
 (590, 590.0000000000002),
 (1377, 1377.0),
 (2015, 2015.0),
 (1410, 1410.0),
 (112, 112.00000000000028),
 (1920, 1919.9999999999998),
 (333, 333.0),
 (973, 973.0000000000001),
 (254, 254.00000000000017),
 (1955, 1955.0),
 (818, 818.0),
 (156, 156.00000000000009),
 (815, 815.0000000000002),
 (128, 128.00000000000014),
 (1685, 1685.0),
 (204, 203.99999999999974),
 (190, 189.99999999999974),
 (187, 186.99999999999997),
 (1771, 1771.0),
 (2450, 2450.0),
 (161, 161.00000000000014),
 (172, 172.00000000000006),
 (1171, 1171.0),
 (143, 143.00000000000003),
 (1959, 1958.9999999999998),
 (990, 990.0000000000001),
 (229, 229.00000000000009),
 (428, 428.00000000000017),
 (1339, 1339.0),
 (629, 629.0000000000001),
 (128, 127.99999999999994),
 (142, 142.00000000000003),
 (213, 212.99999999999977),
 (331, 330.99999999999994),
 (1220, 1220.0),
 (407, 407.00000000000006),
 (388, 388.0),
 (1008, 1008.0),
 (559, 559.0000000000001),
 (129, 129.0),
 (701, 701.0),
 (204, 204.00000000000014),
 (188, 187.99999999999977),
 (178, 178.00000000000014),
 (1639, 1639.0),
 (757, 757.0000000000001),
 (1849, 1849.0),
 (166, 166.0000000000002),
 (478, 478.0),
 (256, 256.0),
 (903, 903.0),
 (135, 135.0000000000002),
 (3064, 3064.0),
 (2694, 2694.0),
 (462, 462.0),
 (676, 676.0),
 (325, 325.0000000000001),
 (135, 134.99999999999997),
 (408, 408.0000000000001),
 (191, 190.99999999999974),
 (1167, 1167.0),
 (1024, 1024.0),
 (1000, 1000.0),
 (485, 485.0000000000001),
 (247, 247.0000000000002),
 (284, 284.00000000000006),
 (736, 736.0),
 (233, 233.00000000000003),
 (1400, 1400.0000000000002),
 (405, 405.00000000000006),
 (1658, 1658.0),
 (1375, 1375.0),
 (166, 165.99999999999997),
 (166, 166.0),
 (1184, 1184.0),
 (465, 465.0),
 (131, 131.0),
 (1561, 1560.9999999999998),
 (1249, 1249.0000000000002),
 (149, 148.99999999999994),
 (662, 662.0000000000001),
 (262, 262.00000000000017),
 (458, 458.0000000000001),
 (215, 215.00000000000023),
 (1579, 1579.0),
 (177, 176.99999999999974),
 (330, 330.00000000000006),
 (740, 740.0),
 (255, 255.00000000000009),
 (873, 873.0000000000002),
 (1309, 1309.0000000000002),
 (686, 686.0),
 (2037, 2036.9999999999998),
 (232, 232.00000000000003),
 (1273, 1273.0),
 (988, 988.0),
 (212, 212.00000000000017),
 (3313, 3313.0),
 (508, 508.0000000000001),
 (841, 841.0000000000002),
 (218, 218.0000000000002),
 (589, 589.0000000000001),
 (611, 611.0),
 (300, 300.0),
 (834, 834.0),
 (1445, 1445.0),
 (432, 432.00000000000006),
 (1085, 1085.0),
 (545, 545.0),
 (505, 505.00000000000006),
 (883, 883.0),
 (1679, 1678.9999999999998),
 (143, 142.99999999999983),
 (195, 194.99999999999972),
 (427, 427.00000000000006),
 (707, 707.0000000000001),
 (1148, 1148.0),
 (228, 227.99999999999974),
 (117, 116.99999999999997),
 (139, 138.99999999999997),
 (1461, 1461.0),
 (618, 618.0000000000001),
 (135, 135.0000000000002),
 (266, 266.0000000000001),
 (1915, 1914.9999999999998),
 (133, 133.00000000000009),
 (262, 261.9999999999997),
 (1444, 1444.0),
 (165, 165.00000000000026),
 (649, 649.0000000000001),
 (815, 815.0000000000002),
 (1209, 1209.0),
 (1281, 1281.0),
 (154, 154.00000000000014),
 (313, 313.00000000000006),
 (132, 131.99999999999997),
 (750, 750.0000000000001),
 (1047, 1047.0),
 (130, 129.99999999999991),
 (533, 533.0),
 (962, 962.0),
 (1864, 1864.0),
 (2393, 2393.0),
 (177, 176.99999999999997),
 (251, 250.99999999999994),
 (439, 439.00000000000006),
 (171, 170.99999999999994),
 (254, 253.99999999999997),
 (252, 252.00000000000006),
 (254, 254.0000000000002),
 (810, 810.0000000000001),
 (532, 532.0000000000001),
 (740, 740.0),
 (2685, 2685.0),
 (403, 403.00000000000006),
 (586, 586.0),
 (247, 247.00000000000003),
 (479, 479.00000000000006),
 (156, 155.99999999999997),
 (159, 158.99999999999997),
 (491, 491.0000000000001),
 (454, 454.00000000000006),
 (186, 185.99999999999994),
 (648, 648.0000000000002),
 (180, 179.99999999999997),
 (142, 141.99999999999991),
 (541, 541.0),
 (734, 734.0000000000001),
 (166, 165.99999999999994),
 (127, 127.0),
 (199, 199.0000000000003),
 (1043, 1043.0),
 (775, 775.0000000000001),
 (639, 639.0000000000001),
 (201, 201.0000000000002),
 (137, 137.00000000000017),
 (1551, 1551.0),
 (267, 267.0),
 (364, 364.0000000000001),
 (467, 467.0000000000001),
 (144, 143.99999999999997),
 (252, 251.99999999999974),
 (1231, 1231.0),
 (277, 277.0000000000001),
 (2223, 2223.0),
 (481, 481.0000000000001),
 (1301, 1301.0),
 (175, 174.9999999999999),
 (734, 734.0000000000001),
 (802, 802.0000000000001),
 (294, 294.00000000000017),
 (477, 477.0000000000001),
 (1700, 1700.0),
 (169, 169.00000000000009),
 (501, 501.00000000000006),
 (523, 523.0000000000001),
 (295, 295.0000000000001),
 (623, 623.0000000000001),
 (599, 599.0000000000002),
 (810, 810.0000000000001),
 (632, 632.0),
 (436, 436.00000000000006),
 (163, 162.99999999999977),
 (1088, 1088.0),
 (330, 330.0000000000001),
 (517, 517.0000000000001),
 (134, 133.99999999999991),
 (1737, 1737.0),
 (333, 333.00000000000017),
 (311, 311.00000000000006),
 (773, 773.0000000000001),
 (223, 223.0000000000002),
 (199, 198.99999999999994),
 (532, 532.0000000000001),
 (1232, 1232.0000000000002),
 (153, 153.00000000000006),
 (148, 148.00000000000006),
 (158, 158.00000000000017),
 (414, 413.9999999999997),
 (512, 512.0000000000001),
 (337, 337.00000000000017),
 (188, 188.0),
 (2791, 2791.0),
 (115, 114.99999999999999),
 (299, 299.00000000000006),
 (1948, 1948.0),
 (219, 219.0),
 (735, 735.0000000000001),
 (1299, 1299.0),
 (120, 119.99999999999994),
 (909, 909.0),
 (165, 164.99999999999994),
 (427, 427.0),
 (220, 219.99999999999974),
 (144, 143.99999999999997),
 (1179, 1179.0),
 (1033, 1033.0),
 (171, 171.00000000000009),
 (336, 336.0000000000001),
 (1731, 1730.9999999999998),
 (189, 188.99999999999994),
 (818, 818.0),
 (751, 751.0000000000001),
 (2208, 2208.0),
 (223, 223.00000000000006),
 (169, 168.99999999999997),
 (480, 480.0000000000001),
 (283, 283.00000000000006),
 (711, 711.0),
 (2322, 2322.0),
 (158, 158.0000000000002),
 (2524, 2524.0),
 (638, 638.0000000000002),
 (122, 122.00000000000018),
 (1442, 1442.0),
 (147, 146.99999999999997),
 (168, 167.99999999999997),
 (189, 188.99999999999997),
 (361, 361.0000000000001),
 (1791, 1791.0),
 (1516, 1516.0),
 (125, 124.99999999999994),
 (214, 213.9999999999998),
 (1667, 1667.0),
 (343, 343.0000000000001),
 (869, 869.0000000000001),
 (243, 243.00000000000017),
 (213, 212.99999999999974),
 (1340, 1340.0),
 (177, 176.9999999999998),
 (1213, 1213.0),
 (1427, 1427.0),
 (130, 129.99999999999997),
 (542, 542.0000000000001),
 (1148, 1148.0),
 (1303, 1303.0),
 (2258, 2258.0),
 (1190, 1190.0),
 (513, 513.0000000000002),
 (363, 363.0000000000002),
 (190, 190.00000000000026),
 (169, 168.99999999999994),
 (1493, 1493.0),
 (548, 548.0000000000001),
 (164, 164.00000000000017),
 (733, 733.0),
 (1143, 1143.0),
 (219, 219.00000000000014),
 (325, 324.99999999999994),
 (133, 133.0),
 (1831, 1830.9999999999998),
 (2421, 2421.0),
 (1789, 1788.9999999999998),
 (444, 444.0000000000001),
 (1398, 1398.0),
 (393, 393.0000000000001),
 (795, 795.0000000000001),
 (1859, 1859.0),
 (375, 375.0),
 (784, 784.0000000000001),
 (376, 376.00000000000006),
 (373, 373.00000000000017),
 (304, 304.0000000000001),
 (1779, 1778.9999999999998),
 (525, 525.0000000000001),
 (148, 147.99999999999997),
 (124, 123.99999999999993),
 (184, 184.00000000000006),
 (287, 287.0000000000002),
 (121, 121.0000000000002),
 (434, 434.00000000000006),
 (2794, 2794.0),
 (186, 186.00000000000026),
 (131, 131.0),
 (955, 955.0),
 (914, 914.0),
 (534, 534.0000000000002),
 (214, 214.00000000000006),
 (150, 149.99999999999994),
 (137, 136.99999999999997),
 (605, 605.0),
 (433, 433.0000000000001),
 (134, 134.0000000000002),
 (260, 259.99999999999983),
 (3026, 3026.0),
 (162, 161.99999999999997),
 (283, 283.0),
 (163, 163.00000000000003),
 (207, 207.0),
 (115, 115.00000000000009),
 (157, 156.99999999999997),
 (1269, 1269.0),
 (161, 160.9999999999998),
 (747, 747.0),
 (421, 421.0000000000002),
 (384, 384.0000000000002),
 (1052, 1052.0),
 (374, 374.0),
 (367, 366.99999999999994),
 (447, 447.00000000000017),
 (568, 568.0000000000001),
 (201, 201.00000000000003),
 (2301, 2301.0),
 (170, 170.00000000000003),
 (331, 331.0000000000002),
 (405, 405.00000000000006),
 (502, 502.0000000000002),
 (115, 114.99999999999993),
 (421, 421.00000000000006),
 (495, 495.00000000000006),
 (814, 814.0),
 (160, 159.99999999999991),
 (448, 447.99999999999994),
 (706, 706.0000000000002),
 (129, 128.99999999999994),
 (812, 812.0000000000002),
 (494, 494.00000000000006),
 (1014, 1014.0000000000001),
 (545, 545.0000000000001),
 (125, 125.00000000000003),
 (244, 244.0),
 (703, 703.0000000000001),
 (718, 718.0),
 (255, 255.00000000000003),
 (387, 387.0000000000002),
 (639, 639.0000000000002),
 (266, 266.00000000000017),
 (1614, 1614.0),
 (120, 119.99999999999993),
 (299, 298.9999999999997),
 (580, 580.0),
 (141, 140.99999999999977),
 (1014, 1013.9999999999999),
 (226, 226.0),
 (709, 709.0000000000002),
 (794, 794.0000000000001),
 (2673, 2673.0),
 (117, 117.00000000000006),
 (154, 154.0),
 (198, 198.00000000000003),
 (2336, 2336.0),
 (1276, 1276.0),
 (961, 961.0),
 (147, 146.99999999999994),
 (620, 620.0),
 (847, 847.0),
 (369, 369.00000000000017),
 (509, 509.0),
 (1067, 1067.0),
 (164, 163.99999999999991),
 (373, 373.0000000000001),
 (323, 323.0000000000001),
 (1763, 1763.0),
 (359, 359.0),
 (154, 153.99999999999997),
 (659, 659.0000000000001),
 (1280, 1280.0),
 (1645, 1645.0),
 (262, 262.0000000000001),
 (294, 294.0),
 (1343, 1343.0000000000002),
 (236, 236.00000000000014),
 (246, 245.99999999999997),
 (612, 612.0000000000001),
 (198, 198.00000000000017),
 (317, 317.0000000000001),
 (198, 197.99999999999974),
 (1836, 1836.0),
 (192, 191.99999999999972),
 (148, 148.00000000000003),
 (235, 235.00000000000006),
 (958, 958.0),
 (385, 385.00000000000006),
 (1394, 1394.0),
 (229, 229.0),
 (1277, 1277.0),
 (243, 243.00000000000009),
 (118, 118.00000000000006),
 (545, 545.0000000000001),
 (2375, 2375.0),
 (149, 149.0000000000001),
 (351, 351.00000000000006),
 (132, 131.99999999999994),
 (275, 275.00000000000017),
 (159, 159.00000000000003),
 (515, 515.0000000000002),
 (2936, 2936.0),

In [51]:
Ytest.head(2)

4785    2634
7708     136
Name: Quantity_Sold, dtype: int64

In [52]:
from sklearn import metrics

In [53]:
metrics.mean_squared_error(Ytest,outPredicted)

1.4552269272792537e-26

In [54]:
import statsmodels.formula.api as sm

In [55]:
result=sm.OLS(Y,X).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Quantity_Sold   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.202e+31
Date:                Fri, 03 May 2019   Prob (F-statistic):               0.00
Time:                        22:38:35   Log-Likelihood:                 84505.
No. Observations:                3367   AIC:                        -1.690e+05
Df Residuals:                    3359   BIC:                        -1.689e+05
Df Model:                           7
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
Mapped_Item_Code                          1.648e-16   4.48e-17      3.679      0.000     7.7e-17    2.53e-16
Average_Tax_Percent                       4.093e-11   9.91e-11      0.413      0.680   -1.53e-10    2.35e-10
Percent_Quantity_With_Discount            6.004e-13   2.37e-13      2.532      0.011    1.35e-13    1.07e-12
Avg_Discount_Percent_On_Discounted_Items -3.695e-13   3.28e-13     -1.126      0.260   -1.01e-12    2.74e-13
Car_sales                                 1.128e-16   1.44e-16      0.783      0.434    -1.7e-16    3.95e-16
F_and_B_Inflation                        -4.263e-14   3.72e-14     -1.147      0.251   -1.15e-13    3.02e-14
F_and_B_Inflation_Adjusted_Median_Price   1.243e-14   3.52e-14      0.353      0.724   -5.67e-14    8.15e-14
Quantity_Sold                                1.0000   1.14e-16   8.77e+15      0.000       1.000       1.000
==============================================================================
Omnibus:                      552.419   Durbin-Watson:                   0.092
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              895.421
Skew:                           1.107   Prob(JB):                    3.65e-195
Kurtosis:                       4.218   Cond. No.                     1.48e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""