###### Solved questions related to Preprocessing

###### Data- Demand_txn

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
1. ###### •	Read the dataset, print last 3 observations and find the data types of each column

In [10]:
dataset=pd.read_csv("C:\\Users\\Rebecca\\Documents\\TL Study Docs\\ML\\Dataset\\Demand_txn.csv",index_col=0)

In [24]:
dataset.tail(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
9747,Hyderabad,Take Away,4068,2018-01-07,274,502.07,0.05,494.529018,NaN,NaN,...,Sun,6660.16,140.6,3.204332,3.051707,1,0,1.75,1.06,30726.72
9748,Hyderabad,Delivery,4056,2018-01-07,370,292.05,0.05,273.741815,0.011583,0.104999,...,Sun,6660.16,140.6,1.634010,1.557966,1,0,1.51,1.17,30726.72
9749,Hyderabad,Delivery,4068,2018-01-07,186,566.43,0.05,562.109067,NaN,NaN,...,Sun,6660.16,140.6,3.684986,3.509459,1,0,1.57,1.17,30726.72

In [25]:
dataset.dtypes

City                                           object
Mapped_Sales_Type                              object
Mapped_Item_Code                                int64
Transaction_Date                               object
Quantity_Sold                                   int64
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Year                                            int64
Month                                           int64
Day                                            object
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
First_Week_Of_The_Month_Dummy                   int64
Last_Week_Of_The_Month_Dummy                    int64
Day_Of_The_Week_Seasonality                   float64
Month_Of_The_Year_Seasonality                 float64
Two_Wheeler_sales                             float64
dtype: object

In [ ]:
2. •	Convert the data type of ‘Mapped_Item_Code’ field to object
o	Hint: use .astype(str) for the data type conversion

In [26]:
dataset['Mapped_Item_Code'].unique()

array([ 9978,  4064,   965,  1045,  4056,  4065,  4058,  4057,  4061,
        4055,   979,  4066,   978,  4062,   971,   970,   966,  4068,
        4063,   964,  4060, 10000,  4059], dtype=int64)

In [27]:
dataset['Mapped_Item_Code']=dataset['Mapped_Item_Code'].astype(str)

In [31]:
dataset['Mapped_Item_Code'].dtypes

dtype('O')

In [36]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9750 entries, 0 to 9749
Data columns (total 22 columns):
City                                          9750 non-null object
Mapped_Sales_Type                             9750 non-null object
Mapped_Item_Code                              9750 non-null object
Transaction_Date                              9750 non-null datetime64[ns]
Quantity_Sold                                 9750 non-null int64
Median_Price                                  9750 non-null float64
Average_Tax_Percent                           9750 non-null float64
Effective_Price                               9749 non-null float64
Percent_Quantity_With_Discount                4114 non-null float64
Avg_Discount_Percent_On_Discounted_Items      4112 non-null float64
Year                                          9750 non-null int64
Month                                         9750 non-null int64
Day                                           9750 non-null object
Car_sales                                     9750 non-null float64
F_and_B_Inflation                             9750 non-null float64
F_and_B_Inflation_Adjusted_Effective_Price    9749 non-null float64
F_and_B_Inflation_Adjusted_Median_Price       9750 non-null float64
First_Week_Of_The_Month_Dummy                 9750 non-null int64
Last_Week_Of_The_Month_Dummy                  9750 non-null int64
Day_Of_The_Week_Seasonality                   9750 non-null float64
Month_Of_The_Year_Seasonality                 9673 non-null float64
Two_Wheeler_sales                             9750 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(5), object(4)
memory usage: 1.7+ MB

In [ ]:
3. •	Convert the field ‘Transaction_Date’ to datetime (Date) column
o	Hint: use pd.to_datetime for conversion

In [35]:
dataset['Transaction_Date']=pd.to_datetime(dataset['Transaction_Date'])

In [37]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9750 entries, 0 to 9749
Data columns (total 22 columns):
City                                          9750 non-null object
Mapped_Sales_Type                             9750 non-null object
Mapped_Item_Code                              9750 non-null object
Transaction_Date                              9750 non-null datetime64[ns]
Quantity_Sold                                 9750 non-null int64
Median_Price                                  9750 non-null float64
Average_Tax_Percent                           9750 non-null float64
Effective_Price                               9749 non-null float64
Percent_Quantity_With_Discount                4114 non-null float64
Avg_Discount_Percent_On_Discounted_Items      4112 non-null float64
Year                                          9750 non-null int64
Month                                         9750 non-null int64
Day                                           9750 non-null object
Car_sales                                     9750 non-null float64
F_and_B_Inflation                             9750 non-null float64
F_and_B_Inflation_Adjusted_Effective_Price    9749 non-null float64
F_and_B_Inflation_Adjusted_Median_Price       9750 non-null float64
First_Week_Of_The_Month_Dummy                 9750 non-null int64
Last_Week_Of_The_Month_Dummy                  9750 non-null int64
Day_Of_The_Week_Seasonality                   9750 non-null float64
Month_Of_The_Year_Seasonality                 9673 non-null float64
Two_Wheeler_sales                             9750 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(5), object(4)
memory usage: 1.7+ MB

In [ ]:
4. •	Extract only those records whose transaction date is greater than or equal to ‘2017-01-01’ and proceed with below operations
o	Hint: use .loc operator

In [38]:
datasetFiltered=dataset[dataset['Transaction_Date']>='2017-01-01']

In [40]:
datasetFiltered.count()

City                                          9750
Mapped_Sales_Type                             9750
Mapped_Item_Code                              9750
Transaction_Date                              9750
Quantity_Sold                                 9750
Median_Price                                  9750
Average_Tax_Percent                           9750
Effective_Price                               9749
Percent_Quantity_With_Discount                4114
Avg_Discount_Percent_On_Discounted_Items      4112
Year                                          9750
Month                                         9750
Day                                           9750
Car_sales                                     9750
F_and_B_Inflation                             9750
F_and_B_Inflation_Adjusted_Effective_Price    9749
F_and_B_Inflation_Adjusted_Median_Price       9750
First_Week_Of_The_Month_Dummy                 9750
Last_Week_Of_The_Month_Dummy                  9750
Day_Of_The_Week_Seasonality                   9750
Month_Of_The_Year_Seasonality                 9673
Two_Wheeler_sales                             9750
dtype: int64

In [48]:
dataset=dataset.loc[dataset['Transaction_Date']>='2017-01-01']

In [ ]:
5•	Check the changed data types of each column and also see how many unique sales types are available in 
‘Mapped_Sales_Type’ column

In [49]:
dataset.dtypes

City                                                  object
Mapped_Sales_Type                                     object
Mapped_Item_Code                                      object
Transaction_Date                              datetime64[ns]
Quantity_Sold                                          int64
Median_Price                                         float64
Average_Tax_Percent                                  float64
Effective_Price                                      float64
Percent_Quantity_With_Discount                       float64
Avg_Discount_Percent_On_Discounted_Items             float64
Year                                                   int64
Month                                                  int64
Day                                                   object
Car_sales                                            float64
F_and_B_Inflation                                    float64
F_and_B_Inflation_Adjusted_Effective_Price           float64
F_and_B_Inflation_Adjusted_Median_Price              float64
First_Week_Of_The_Month_Dummy                          int64
Last_Week_Of_The_Month_Dummy                           int64
Day_Of_The_Week_Seasonality                          float64
Month_Of_The_Year_Seasonality                        float64
Two_Wheeler_sales                                    float64
dtype: object

In [50]:
dataset['Mapped_Sales_Type'].unique()

array(['Take Away', 'Main Hall', 'Express', 'Delivery', 'Dine-in',
       'Bakery'], dtype=object)

In [ ]:
6. •	Extract only those records whose ‘Avg_Discount_Percent_On_Discounted_Items’ is lesser than 1.0 and do a sense check if the resulting data frame 
contains any values in the same column that are greater than or equal to 1.0

In [51]:
dataset=dataset.loc[dataset['Avg_Discount_Percent_On_Discounted_Items']<1.0]

In [53]:
dataset['Avg_Discount_Percent_On_Discounted_Items'].unique()

array([0.10502008, 0.10500575, 0.10500784, ..., 0.57748845, 0.73499869,
       0.75923651])

###### 7. •	Create the below dictionary (dict_agg) and pass it as an argument for the aggregate function in 
order to roll up the results grouped by following order: 'City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date'
o	dict_aggr = {'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}
o	sample syntax: df.groupby(<groupby list>).agg(dictionary)

In [60]:
dict_aggr={'Quantity_Sold':'sum', 'Median_Price':'median', 'Effective_Price':'median'}

In [61]:
dict_aggr

{'Quantity_Sold': 'sum', 'Median_Price': 'median', 'Effective_Price': 'median'}

In [62]:
datasetGroup=dataset.groupby(['City','Mapped_Sales_Type','Mapped_Item_Code','Transaction_Date']).agg(dict_aggr)
datasetGroup

                                                               Quantity_Sold  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14                  109
                            4060             2018-06-14                  110
                            4063             2018-06-14                  110
          Delivery          4055             2018-01-10                  567
                                             2018-01-11                  499
                                             2018-01-12                  703
                                             2018-01-14                  715
                                             2018-01-15                  726
                                             2018-01-16                  707
                                             2018-01-17                  609
                                             2018-01-19                  810
                                             2018-01-20                  798
                                             2018-01-21                 1154
                                             2018-01-22                  533
                                             2018-01-25                  667
                                             2018-01-26                 1024
                                             2018-01-27                  743
                                             2018-01-28                 1048
                                             2018-01-31                  682
                                             2018-02-01                  616
                                             2018-02-02                  872
                                             2018-02-03                  778
                                             2018-02-04                 1093
                                             2018-02-07                  703
                                             2018-02-08                  702
                                             2018-02-09                  940
                                             2018-02-10                  906
                                             2018-02-11                 1303
                                             2018-02-12                  619
                                             2018-02-15                  662
...                                                                      ...
          Take Away         4068             2018-04-28                  233
                                             2018-04-29                  295
                                             2018-04-30                  200
                                             2018-05-01                  190
                                             2018-05-02                  177
                                             2018-05-03                  177
                                             2018-05-04                  219
                                             2018-05-05                  235
                                             2018-05-06                  269
                                             2018-05-09                  184
                                             2018-05-12                  255
                                             2018-05-28                  180
                                             2018-06-21                  171
                                             2018-07-13                  188
                            970              2018-04-24                  112
                            9978             2018-04-20                  189
                                             2018-04-21                  170
                                             2018-04-22                  191
                                             2018-04-24                  157
                                             2018-04-25                  194
                                             2018-04-26                  182
                                             2018-04-27                  199
                                             2018-04-28                  183
                                             2018-04-29                  199
                                             2018-04-30                  187
                                             2018-05-01                  166
                                             2018-05-02                  192
                                             2018-05-03                  180
                                             2018-05-04                  195
                                             2018-05-06                  203

                                                               Median_Price  \
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14               359.0
                            4060             2018-06-14               378.0
                            4063             2018-06-14               732.0
          Delivery          4055             2018-01-10               281.1
                                             2018-01-11               281.1
                                             2018-01-12               281.1
                                             2018-01-14               281.1
                                             2018-01-15               281.1
                                             2018-01-16               281.1
                                             2018-01-17               281.1
                                             2018-01-19               281.1
                                             2018-01-20               281.1
                                             2018-01-21               281.1
                                             2018-01-22               281.1
                                             2018-01-25               281.1
                                             2018-01-26               281.1
                                             2018-01-27               281.1
                                             2018-01-28               281.1
                                             2018-01-31               281.1
                                             2018-02-01               281.1
                                             2018-02-02               281.1
                                             2018-02-03               281.1
                                             2018-02-04               281.1
                                             2018-02-07               281.1
                                             2018-02-08               281.1
                                             2018-02-09               281.1
                                             2018-02-10               281.1
                                             2018-02-11               281.1
                                             2018-02-12               281.1
                                             2018-02-15               281.1
...                                                                     ...
          Take Away         4068             2018-04-28               542.0
                                             2018-04-29               542.0
                                             2018-04-30               542.0
                                             2018-05-01               542.0
                                             2018-05-02               542.0
                                             2018-05-03               542.0
                                             2018-05-04               542.0
                                             2018-05-05               542.0
                                             2018-05-06               542.0
                                             2018-05-09               542.0
                                             2018-05-12               542.0
                                             2018-05-28               542.0
                                             2018-06-21               542.0
                                             2018-07-13               542.0
                            970              2018-04-24               312.0
                            9978             2018-04-20               187.0
                                             2018-04-21               187.0
                                             2018-04-22               187.0
                                             2018-04-24               187.0
                                             2018-04-25               187.0
                                             2018-04-26               187.0
                                             2018-04-27               187.0
                                             2018-04-28               187.0
                                             2018-04-29               187.0
                                             2018-04-30               187.0
                                             2018-05-01               187.0
                                             2018-05-02               187.0
                                             2018-05-03               187.0
                                             2018-05-04               187.0
                                             2018-05-06               187.0

                                                               Effective_Price
City      Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Hyderabad Bakery            4059             2018-06-14             314.270000
                            4060             2018-06-14             332.220000
                            4063             2018-06-14             666.760000
          Delivery          4055             2018-01-10             262.359057
                                             2018-01-11             262.446314
                                             2018-01-12             262.391672
                                             2018-01-14             262.357417
                                             2018-01-15             262.466894
                                             2018-01-16             262.465386
                                             2018-01-17             262.458213
                                             2018-01-19             262.440229
                                             2018-01-20             262.407380
                                             2018-01-21             262.418782
                                             2018-01-22             262.450782
                                             2018-01-25             262.424083
                                             2018-01-26             262.478795
                                             2018-01-27             262.433608
                                             2018-01-28             262.456297
                                             2018-01-31             262.349107
                                             2018-02-01             262.458713
                                             2018-02-02             262.359001
                                             2018-02-03             262.371349
                                             2018-02-04             262.458024
                                             2018-02-07             262.465101
                                             2018-02-08             262.428579
                                             2018-02-09             262.291882
                                             2018-02-10             262.447509
                                             2018-02-11             262.392575
                                             2018-02-12             262.373602
                                             2018-02-15             257.901706
...                                                                        ...
          Take Away         4068             2018-04-28             487.201803
                                             2018-04-29             487.201848
                                             2018-04-30             487.201348
                                             2018-05-01             487.201266
                                             2018-05-02             487.202121
                                             2018-05-03             487.202121
                                             2018-05-04             487.202037
                                             2018-05-05             487.202742
                                             2018-05-06             487.201266
                                             2018-05-09             535.109589
                                             2018-05-12             534.405833
                                             2018-05-28             535.031015
                                             2018-06-21             523.325333
                                             2018-07-13             533.900260
                            970              2018-04-24             269.860000
                            9978             2018-04-20             162.165385
                                             2018-04-21             167.893220
                                             2018-04-22             162.503250
                                             2018-04-24             161.878696
                                             2018-04-25             163.940482
                                             2018-04-26             168.476901
                                             2018-04-27             167.010227
                                             2018-04-28             167.634722
                                             2018-04-29             167.599546
                                             2018-04-30             164.592632
                                             2018-05-01             161.523636
                                             2018-05-02             169.316049
                                             2018-05-03             164.509565
                                             2018-05-04             164.507619
                                             2018-05-06             163.006087

[3367 rows x 3 columns]

In [ ]:
8. •	Print first 5 observations where Effective_Price is not null

In [66]:
dataset[dataset['Effective_Price'].isnull()].head(5)

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales]
Index: []

[0 rows x 22 columns]

In [64]:
dataset[dataset['Effective_Price'].notnull()].head(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52
24,Hyderabad,Dine-in,965,2018-07-31,1934,362.0,0.05,347.258327,0.001646,0.420000,...,Tue,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52

In [ ]:
9.•	Print first 10 observations where ‘City’ is ‘Hyderabad’ AND ‘Mapped_Sales_Type’ is ‘Delivery’
o	Hint: df.loc[(<condition 1>) & (<condition 2>), :].head(10)

In [70]:
dataset.loc[dataset['City'].str.contains('Hyderabad') & dataset['Mapped_Sales_Type'].str.contains('Delivery')].head(10)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
26,Hyderabad,Delivery,4068,2018-07-31,148,622.0,0.05,618.898649,0.027027,0.105009,...,Tue,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52
42,Hyderabad,Delivery,4058,2018-07-31,532,272.0,0.05,252.660214,0.014252,0.105008,...,Tue,7559.28,143.7,1.452054,1.384830,0,1,0.72,1.06,37307.52
46,Hyderabad,Delivery,4064,2018-07-31,261,682.0,0.05,683.031933,0.006667,0.105008,...,Tue,7559.28,143.7,4.446986,4.237996,0,1,0.76,1.06,37307.52
62,Hyderabad,Delivery,4068,2018-07-30,139,622.0,0.05,618.399286,0.035714,0.105009,...,Mon,7559.28,143.7,3.997211,3.820459,0,1,0.65,1.06,37307.52
75,Hyderabad,Delivery,4065,2018-07-30,133,752.0,0.05,750.476818,0.090909,0.105007,...,Mon,7559.28,143.7,4.916331,4.725122,0,1,0.60,1.06,37307.52
77,Hyderabad,Delivery,4056,2018-07-30,485,322.0,0.05,305.108823,0.013369,0.105004,...,Mon,7559.28,143.7,1.817041,1.732777,0,1,0.72,1.06,37307.52
88,Hyderabad,Delivery,4064,2018-07-30,230,682.0,0.05,680.233950,0.050420,0.105005,...,Mon,7559.28,143.7,4.427515,4.237996,0,1,0.61,1.06,37307.52
89,Hyderabad,Delivery,4058,2018-07-30,473,272.0,0.05,252.668923,0.013812,0.105005,...,Mon,7559.28,143.7,1.452115,1.384830,0,1,0.71,1.06,37307.52

In [ ]:
10. •	Print first 3 observations where Percent_Quantity_With_Discount is not equal to zero
o	Hint: use != operator

In [72]:
dataset.loc[dataset['Percent_Quantity_With_Discount']!=0].head(3)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
20,Hyderabad,Dine-in,966,2018-07-31,1250,392.0,0.05,378.840053,0.003512,0.105008,...,Tue,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52

In [ ]:
11. •	Create a new column ‘Range’ and populate it as 1 if Effective_Price is greater than 500, else 0.5
o	Hint: df[‘New column’] = np.where(<condition>, if true, if false)

In [73]:
dataset['Range']=[1 if x >500 else 0.5 for x in dataset['Effective_Price']]

In [74]:
dataset.head(2)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Range
5,Hyderabad,Delivery,4056,2018-07-31,617,322.0,0.05,305.354585,0.003953,0.105020,...,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52,0.5
10,Hyderabad,Delivery,4061,2018-07-31,144,942.0,0.05,942.631515,0.151515,0.105006,...,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52,1.0

In [126]:

op=['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent','Effective_Price', 'Percent_Quantity_With_Discount',
   'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation','F_and_B_Inflation_Adjusted_Effective_Price','Quantity_Sold']

XxYy=dataset[op]

In [127]:
XxYy.corr()

,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,Quantity_Sold
Median_Price,1.000000e+00,7.123332e-15,9.983656e-01,2.140664e-01,-2.282925e-01,1.531538e-02,2.091315e-02,9.983624e-01,-4.832408e-01
Average_Tax_Percent,7.123332e-15,1.000000e+00,4.482249e-16,4.073250e-16,-2.877990e-15,-3.782378e-13,1.241327e-12,3.508083e-15,1.322693e-15
Effective_Price,9.983656e-01,4.482249e-16,1.000000e+00,1.613933e-01,-2.257972e-01,3.188454e-02,2.953283e-02,9.997717e-01,-4.760799e-01
Percent_Quantity_With_Discount,2.140664e-01,4.073250e-16,1.613933e-01,1.000000e+00,-1.752703e-01,-3.145468e-01,-1.582320e-01,1.650175e-01,-2.531248e-01
Avg_Discount_Percent_On_Discounted_Items,-2.282925e-01,-2.877990e-15,-2.257972e-01,-1.752703e-01,1.000000e+00,1.682464e-02,2.669008e-02,-2.262400e-01,4.312312e-01
Car_sales,1.531538e-02,-3.782378e-13,3.188454e-02,-3.145468e-01,1.682464e-02,1.000000e+00,3.746624e-01,2.492164e-02,6.654979e-02
F_and_B_Inflation,2.091315e-02,1.241327e-12,2.953283e-02,-1.582320e-01,2.669008e-02,3.746624e-01,1.000000e+00,1.138390e-02,9.486292e-02
F_and_B_Inflation_Adjusted_Effective_Price,9.983624e-01,3.508083e-15,9.997717e-01,1.650175e-01,-2.262400e-01,2.492164e-02,1.138390e-02,1.000000e+00,-4.777277e-01
Quantity_Sold,-4.832408e-01,1.322693e-15,-4.760799e-01,-2.531248e-01,4.312312e-01,6.654979e-02,9.486292e-02,-4.777277e-01,1.000000e+00

In [ ]:
12.•	Split the dataset into X and Y based on below list:
x = 'Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent',  
'Effective_Price', 'Percent_Quantity_With_Discount',
'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation',
'F_and_B_Inflation_Adjusted_Effective_Price',
'F_and_B_Inflation_Adjusted_Median_Price'. And  y = ‘Quantity_Sold’

In [128]:
x=['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent','Effective_Price', 'Percent_Quantity_With_Discount',
   'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation','F_and_B_Inflation_Adjusted_Effective_Price',
'F_and_B_Inflation_Adjusted_Median_Price']
x1=['Mapped_Item_Code', 'Median_Price', 'Average_Tax_Percent','Effective_Price', 'Percent_Quantity_With_Discount',
   'Avg_Discount_Percent_On_Discounted_Items','Car_sales', 'F_and_B_Inflation','F_and_B_Inflation_Adjusted_Effective_Price']
X=dataset[x]
X1=dataset[x1]

In [76]:
X.head(2)

,Mapped_Item_Code,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price
5,4056,322.0,0.05,305.354585,0.003953,0.105020,7559.28,143.7,1.818751,1.732777
10,4061,942.0,0.05,942.631515,0.151515,0.105006,7559.28,143.7,6.253525,6.047321

In [98]:
y ='Quantity_Sold'
Y=dataset[y]
Y.head(2)

5     617
10    144
Name: Quantity_Sold, dtype: int64

In [99]:
Y.dtypes

dtype('int64')

In [100]:
X.dtypes

Mapped_Item_Code                                int32
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
dtype: object

13.•	Run the Linear Regression model on the above x and y features.
Feel free to explore the modeling parameters and come up with a high R2 
•	While fitting x and y to get stats summary, data type of x should be converted to float due to categorical features, otherwise the summary would return error
o	Hint: sm.OLS(y, x.astype(float)).fit()

In [102]:
X.dtypes

Mapped_Item_Code                                int32
Median_Price                                  float64
Average_Tax_Percent                           float64
Effective_Price                               float64
Percent_Quantity_With_Discount                float64
Avg_Discount_Percent_On_Discounted_Items      float64
Car_sales                                     float64
F_and_B_Inflation                             float64
F_and_B_Inflation_Adjusted_Effective_Price    float64
F_and_B_Inflation_Adjusted_Median_Price       float64
dtype: object

In [129]:
X['Mapped_Item_Code']=X['Mapped_Item_Code'].astype(int)
X1['Mapped_Item_Code']=X1['Mapped_Item_Code'].astype(int)

C:\Users\Rebecca\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Rebecca\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [86]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3367 entries, 5 to 9748
Data columns (total 10 columns):
Mapped_Item_Code                              3367 non-null int32
Median_Price                                  3367 non-null float64
Average_Tax_Percent                           3367 non-null float64
Effective_Price                               3367 non-null float64
Percent_Quantity_With_Discount                3367 non-null float64
Avg_Discount_Percent_On_Discounted_Items      3367 non-null float64
Car_sales                                     3367 non-null float64
F_and_B_Inflation                             3367 non-null float64
F_and_B_Inflation_Adjusted_Effective_Price    3367 non-null float64
F_and_B_Inflation_Adjusted_Median_Price       3367 non-null float64
dtypes: float64(9), int32(1)
memory usage: 276.2 KB

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=101)

In [130]:
X1train,X1test,Y1train,Y1test=train_test_split(X1,Y,test_size=0.3,random_state=101)

In [105]:
from sklearn.linear_model import LinearRegression

In [106]:
lr=LinearRegression()

In [107]:
lr.fit(Xtrain,Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [131]:
lr.fit(X1train,Y1train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [108]:
outPredicted=lr.predict(Xtest)

In [132]:
outPredicted1=lr.predict(X1test)

In [109]:
list(zip(Ytest,outPredicted))

[(2634, 698.275584262241),
 (136, 356.06354348508285),
 (761, 673.1876044684268),
 (788, 735.3124137921859),
 (280, 702.4350659758948),
 (1208, 1488.3215917577272),
 (377, 297.21392689314234),
 (190, 724.4949655590481),
 (515, 689.8474584447576),
 (454, 643.6268287828279),
 (632, 639.6552962266069),
 (362, 544.1409865138121),
 (475, 698.970724045912),
 (150, 253.93950234182012),
 (915, 679.5091405363764),
 (218, 555.4609198373582),
 (393, 588.9181534820091),
 (457, 643.0662731638604),
 (273, 688.657508838056),
 (194, 693.8169197491261),
 (126, 3.4173305527056073),
 (161, 88.58714480680464),
 (235, 241.94647979142974),
 (176, 478.9519403225204),
 (400, 703.6741992828302),
 (278, 788.1357740158601),
 (1547, 697.7372875537203),
 (1404, 1155.8677586081649),
 (297, 558.2212722717977),
 (223, 690.8295804766749),
 (203, -313.51286322291617),
 (205, 453.85299409543404),
 (185, 703.3551624170013),
 (224, 815.2259996009252),
 (500, 325.9661181063948),
 (1128, 647.2155277698894),
 (2739, 1473.1994673402714),
 (845, 865.7684880997149),
 (205, 377.04716492487023),
 (337, 597.5978205585507),
 (794, 679.298840122965),
 (309, 697.7549389152846),
 (202, 419.2932859834891),
 (1326, 814.7108698342854),
 (751, 687.6758867546487),
 (262, 320.51009554470147),
 (2978, 1295.4429599891519),
 (815, 1158.716719692371),
 (194, 331.1548103598234),
 (229, 326.45486903075835),
 (132, 254.26037486159657),
 (783, 659.804885638172),
 (419, 548.7349218923355),
 (167, -65.34981307894941),
 (1961, 1609.6761136152181),
 (562, 630.0758580399252),
 (137, 256.20079007330423),
 (170, 282.6401758296397),
 (1007, 824.3484618996408),
 (653, 1317.403575886905),
 (564, 458.71195131511377),
 (2054, 1775.046614142204),
 (146, 281.69562414297434),
 (408, 385.81243617702603),
 (616, 815.8430613650726),
 (1428, 1640.3315403656252),
 (2112, 841.4911503634576),
 (134, 68.33248473942876),
 (232, 724.262418231343),
 (735, 802.9359340201172),
 (269, 390.33157228473647),
 (1517, 1142.6428975741092),
 (165, 225.98094743463662),
 (183, 34.96396593765894),
 (363, 325.96601576805733),
 (184, 347.47923234338305),
 (598, 667.7063588976489),
 (932, 841.361632273467),
 (1453, 1145.7417363367076),
 (158, -46.11782325645436),
 (844, 629.9072954176208),
 (613, 548.6376493715088),
 (244, 699.205481497962),
 (1499, 1350.678863170111),
 (182, 87.54493702815489),
 (133, 296.6342556838372),
 (917, 1252.6131695449058),
 (2623, 1523.722660326177),
 (197, 734.8935412313695),
 (2425, 864.2670516038343),
 (338, 241.8680079307851),
 (120, 163.7597193955844),
 (360, 664.1220957497408),
 (500, 814.8160738047645),
 (461, 788.3316569207891),
 (318, 663.8333908591212),
 (1147, 1159.3414970204867),
 (132, 109.68397557327808),
 (1219, 666.3102100581),
 (265, 673.0315384450969),
 (1463, 871.7773161113364),
 (701, 721.7452002012524),
 (319, 324.2454771950124),
 (281, 788.2270184249901),
 (342, 568.0470821957042),
 (135, 274.8698775847133),
 (229, 371.0957719740145),
 (199, 10.024538260679037),
 (167, 261.14615180219334),
 (148, 272.4520995190942),
 (177, 260.4817971727898),
 (381, 573.2413911879248),
 (195, 260.9146455984319),
 (3337, 1351.9234560712866),
 (519, 548.1938299858575),
 (622, 733.8681401887043),
 (395, 768.6729692055942),
 (2381, 1227.5963238887107),
 (145, -46.10878630917978),
 (3016, 1154.0799205120402),
 (1399, 1546.8968991503316),
 (143, 12.544381074445482),
 (135, 185.0738117056535),
 (167, 704.0912077731209),
 (268, 485.98914194119425),
 (188, 115.96641078035282),
 (471, 548.6015217836193),
 (209, 689.7561194503396),
 (420, 768.8775070511383),
 (735, 1430.0780777247364),
 (1047, 729.8340363613788),
 (118, 25.180220951171577),
 (177, 153.80299696076872),
 (178, 277.94408782545725),
 (776, 689.249464942437),
 (1575, 1350.0306207616923),
 (748, 525.3713594490491),
 (1220, 802.9608767058453),
 (662, 680.0561425877404),
 (600, 643.8689361626311),
 (1982, 753.4087277292092),
 (1304, 1292.7370544828063),
 (455, 630.1835093967438),
 (254, 698.7102223233578),
 (254, 164.1273444977378),
 (454, 741.3019098950917),
 (1410, 666.202547527304),
 (3251, 1366.2900525479236),
 (912, 698.4580069055264),
 (212, 272.2494196683965),
 (303, 584.9722236466405),
 (156, 307.85810722403403),
 (564, 672.9251160331823),
 (288, 1255.8106355029704),
 (167, 31.21430144311489),
 (1521, 1706.5853227049283),
 (216, 377.50271620019157),
 (1805, 1196.4380463755551),
 (808, 688.5172647654617),
 (1773, 1589.9612916859678),
 (1229, 1463.6684723202015),
 (309, 879.5724556440891),
 (753, 730.2526819558734),
 (213, 435.94375204291464),
 (138, 10.605103300969859),
 (209, 344.70125514243045),
 (158, 36.808620679428714),
 (174, 307.8435363095341),
 (130, 54.71683154412494),
 (1163, 753.3790337063983),
 (172, 249.837739904744),
 (244, 788.1480250614695),
 (1607, 708.3994027295776),
 (905, 605.4968232949559),
 (172, 356.6609904820416),
 (329, 589.0127107965163),
 (815, 775.894822917784),
 (1321, 651.0033091371079),
 (1248, 1374.1589924677337),
 (1335, 753.3943874271281),
 (1461, 1354.810506391399),
 (892, 1457.014871558029),
 (1171, 1499.7027864406482),
 (138, -17.70428049952534),
 (1726, 753.393498008103),
 (216, 340.02676205807984),
 (403, 667.9625154229689),
 (272, 325.869793089365),
 (1032, 762.3085373500016),
 (614, 744.4596340073713),
 (252, 536.5348223626424),
 (2519, 1259.800958527434),
 (418, 547.2115289346602),
 (1230, 1442.567347824428),
 (235, 390.32931516489407),
 (174, 258.2478014636308),
 (336, 336.77904594528627),
 (254, 242.00318901498758),
 (233, 228.76719726896772),
 (295, 536.627844287279),
 (263, 493.59632876997784),
 (1119, 754.9322286155202),
 (1855, 1865.3473982003834),
 (133, 273.55523419132624),
 (216, 300.73258409578193),
 (308, 580.8194078898578),
 (159, -52.50387545935337),
 (219, 241.92280895165823),
 (2238, 1493.6138790749665),
 (218, 303.86266234266986),
 (131, 253.76769592971505),
 (274, 703.4176650528807),
 (1464, 841.369845899866),
 (277, 734.670478584896),
 (790, 1230.7159392866051),
 (1013, 699.0465958109726),
 (1542, 696.2912669021007),
 (3254, 1762.71041517485),
 (470, 702.1755402132057),
 (719, 1310.7774314402723),
 (532, 787.9771585838425),
 (119, -76.8278533310322),
 (525, 997.8180859343029),
 (449, 698.9080775173225),
 (228, 350.15180694500305),
 (271, 573.2569248132913),
 (2056, 1292.1863380870764),
 (322, 560.9008938646948),
 (418, 639.5957305080665),
 (147, 307.6753647239093),
 (138, 56.42623729791558),
 (138, -66.40815785605537),
 (675, 643.850022662562),
 (218, 554.8427056003493),
 (120, -0.31859800362690294),
 (166, 47.57023011304591),
 (1126, 878.6150778500833),
 (422, 585.4064600039674),
 (2522, 753.3855628592282),
 (425, 345.4152829536288),
 (245, 337.5725842224456),
 (148, 226.86101701893858),
 (192, -320.21262911429494),
 (141, 257.66575442912654),
 (1150, 1280.826398206469),
 (1920, 1561.2333483254843),
 (500, 601.6047839295752),
 (1742, 666.2259033830687),
 (160, 273.2713791232418),
 (315, 544.8902000301387),
 (295, 271.8556588791962),
 (322, 308.7944343185827),
 (208, 377.596479756603),
 (1261, 711.1260896742133),
 (127, 163.81185483446097),
 (1605, 1393.6061322358837),
 (164, 256.7708294505155),
 (750, 292.562438152494),
 (753, 1556.8221990490947),
 (348, 597.5974791567296),
 (307, 509.469269176172),
 (197, 242.0204727044802),
 (158, -46.1177252550533),
 (227, 336.8478695368376),
 (3599, 1643.5596278689682),
 (622, 687.9583615134943),
 (158, 358.0250501566825),
 (148, 270.3961999935018),
 (114, 54.3160378704506),
 (1456, 1159.5453680985047),
 (167, 247.83764980015076),
 (221, 679.5744586305063),
 (1821, 889.5558343571574),
 (1205, 1463.6578667929098),
 (143, 134.5852432190004),
 (743, 698.9695935361651),
 (334, 276.2337552144363),
 (183, 358.0236815665976),
 (1123, 1142.6818010613006),
 (651, 257.5851896291406),
 (137, 399.5700063726126),
 (1533, 1459.824578249194),
 (272, 1153.3164386179124),
 (477, 292.562007045879),
 (350, 461.0848478455973),
 (182, -332.75333423464053),
 (518, -241.5813147619083),
 (224, 673.2006276310331),
 (147, 307.93388057635457),
 (208, -5.000815128785689),
 (1613, 1666.4540114667434),
 (226, 241.93284873177254),
 (1445, 841.5660590279731),
 (1989, 1694.1861724399823),
 (473, 624.9061200032756),
 (1789, 1103.3475433984822),
 (2211, 1609.9581199724398),
 (237, 555.9852627217406),
 (625, 814.893790907221),
 (166, 17.635938632227408),
 (322, 667.4552162184991),
 (271, 229.84593611245145),
 (288, 299.77851977839236),
 (319, 574.1065020822844),
 (261, 536.1844303226535),
 (353, 329.1904596174754),
 (280, 297.38243633979255),
 (634, 1404.3795232794146),
 (1400, 1715.6278929826076),
 (214, 261.31557231247643),
 (1360, 1452.941503030479),
 (149, -53.46359134858176),
 (148, 1198.3185608523),
 (1293, 1147.9219727436775),
 (177, 358.0237414318017),
 (137, 277.94001882849443),
 (251, 177.27571679621178),
 (183, 1306.951992496044),
 (931, 696.094181620334),
 (160, 227.86664309726984),
 (180, 357.31515527455304),
 (2078, 1259.8325112842067),
 (166, 380.28229755119355),
 (232, 498.5032849888794),
 (357, 310.0821899473249),
 (117, 181.7960357382799),
 (334, 768.7396558164237),
 (1011, 667.5188442817598),
 (1004, 1300.4634806241247),
 (114, 131.84856033706455),
 (494, 548.7749456119654),
 (246, 273.2943747719801),
 (444, 548.7708938033629),
 (1213, 1198.6782026441488),
 (1479, 1408.5185209532337),
 (1311, 667.6949400858539),
 (1635, 1669.0849681479376),
 (860, 629.9382151772716),
 (132, 151.61000760487877),
 (1971, 686.1278957391423),
 (634, 639.6554140840599),
 (537, 787.965558373704),
 (3093, 1635.0845320289664),
 (138, 265.5212749158127),
 (528, 696.7953477032715),
 (749, 775.9626414475351),
 (161, 88.59782569347408),
 (1222, 1245.3119151390601),
 (214, 324.55200153050646),
 (261, 509.45832038516346),
 (325, 878.9134027546115),
 (426, 547.7662506580436),
 (966, 1404.3420843137937),
 (522, 331.0335833162626),
 (1069, 710.4560433388251),
 (163, 357.5414325440197),
 (1928, 1493.3611985114749),
 (676, 1317.3217070466617),
 (1312, 1532.991665040574),
 (366, 1337.022626348482),
 (918, 788.0022532982948),
 (199, 673.0980621764666),
 (231, 310.5985340327279),
 (824, 1317.415853570039),
 (1958, 1494.6001190633615),
 (951, 729.8237437323733),
 (190, 170.14828622470122),
 (736, 702.5349663712059),
 (1106, 878.6585698802355),
 (2966, 841.6625124162565),
 (2472, 1798.530296603396),
 (578, 1176.0177549077143),
 (198, 237.2030907593089),
 (467, 597.5924538843556),
 (734, 702.6775432783343),
 (327, 1204.9482434662095),
 (235, 1567.45556646761),
 (140, -0.758051921866354),
 (325, 762.4721473476184),
 (1392, 1680.939348667749),
 (1830, 1181.0428925728975),
 (137, -135.36550875058856),
 (1422, 1304.1926285421087),
 (119, -134.8328555448661),
 (174, -46.396328327578885),
 (374, 734.7068613499323),
 (3174, 1323.895955390717),
 (142, 39.54976510335473),
 (1358, 925.7159285199286),
 (153, 343.78386552208576),
 (388, 706.9352045698415),
 (2475, 1544.6463996250732),
 (989, 666.1557333155597),
 (682, 673.2332568688089),
 (208, 305.9538997118634),
 (169, 280.6602173052106),
 (140, 229.72650087676084),
 (421, 372.9206282238665),
 (159, 1162.1164828966685),
 (231, 788.1545081272307),
 (199, 698.9940432076055),
 (703, 683.2520220592214),
 (408, 698.9241753068727),
 (340, 1230.685088041686),
 (367, 543.615678336253),
 (337, 793.3831622869711),
 (194, 804.6577727424919),
 (225, 298.667927081995),
 (406, 698.9228397984098),
 (120, 117.84607996544582),
 (1601, 1173.302241978401),
 (590, 1180.803849778904),
 (1377, 1142.6525790315663),
 (2015, 711.862661881225),
 (1410, 1362.3959431332423),
 (112, 1189.9838686558924),
 (1920, 1158.0302624997694),
 (333, 362.4582240119835),
 (973, 727.0445305859575),
 (254, 675.8128729982072),
 (1955, 1473.0483572498451),
 (818, 639.4247086971482),
 (156, 28.449823914876106),
 (815, 1295.9948600459247),
 (128, 275.88664846587744),
 (1685, 799.105530153487),
 (204, 275.31079535314166),
 (190, 276.33524455062434),
 (187, 177.46138667281775),
 (1771, 712.7898286180352),
 (2450, 1534.014219940158),
 (161, 33.33443505780633),
 (172, 436.9385144351563),
 (1171, 1125.6285936477889),
 (143, 294.2652763587721),
 (1959, 1217.4286017742124),
 (990, 878.5785504108735),
 (229, 509.62859834854135),
 (428, 689.9250902363201),
 (1339, 1362.2783241199613),
 (629, 724.4517830993445),
 (128, -53.619146806408025),
 (142, 280.5930573610367),
 (213, 324.7668333812726),
 (331, 297.51352139266237),
 (1220, 1163.6064959404703),
 (407, 290.4569349302892),
 (388, 377.17601785247825),
 (1008, 1265.2134266757475),
 (559, 814.8145139763819),
 (129, 157.1452490269403),
 (701, 1211.9928942115203),
 (204, 734.8980095584666),
 (188, 257.2775392947242),
 (178, 706.7098162871716),
 (1639, 679.5723402255153),
 (757, 1143.6240205471258),
 (1849, 1342.4287064060445),
 (166, 357.7562791802611),
 (478, 1248.1536344871765),
 (256, 362.91067229668806),
 (903, 643.709455977827),
 (135, 149.29620393200457),
 (3064, 1289.080633126925),
 (2694, 1617.9872621094582),
 (462, 405.2956566513785),
 (676, 1262.8162367409295),
 (325, 543.4903197646054),
 (135, 271.45529575483306),
 (408, 788.1171611004502),
 (191, 276.75844301557663),
 (1167, 685.6225217500905),
 (1024, 1133.9810001502246),
 (1000, 720.0109536448053),
 (485, 655.0614199496704),
 (247, 697.164866483392),
 (284, 457.5854403877147),
 (736, 385.8303596154965),
 (233, 307.72110779387003),
 (1400, 1737.8150579707471),
 (405, 1281.3557669593683),
 (1658, 841.4732979135952),
 (1375, 1259.8825030922035),
 (166, 271.9084454189615),
 (166, 163.92726891829443),
 (1184, 1230.851723281583),
 (465, 330.9794061970915),
 (131, 186.597632672092),
 (1561, 1224.6309441510439),
 (1249, 1578.9529081955188),
 (149, 51.03919076061902),
 (662, 625.160180090732),
 (262, 109.48591953552386),
 (458, 699.0033847042196),
 (215, 237.20264605650482),
 (1579, 882.8615406401259),
 (177, 217.53383757673328),
 (330, 588.7304311223561),
 (740, 1404.5093884208763),
 (255, 560.9344313833062),
 (873, 717.3916265147873),
 (1309, 1490.4783750051174),
 (686, 1262.3855023442247),
 (2037, 1181.0926395248298),
 (232, 398.4478112136185),
 (1273, 690.0303467037847),
 (988, 729.8142094119285),
 (212, 690.9420829514347),
 (3313, 1332.5064002995605),
 (508, 693.2074523167212),
 (841, 1338.7227764479285),
 (218, 720.4957348079024),
 (589, 643.6792874542007),
 (611, 639.5616618576059),
 (300, 230.62380332285466),
 (834, 666.2534142243403),
 (1445, 1397.4699571026886),
 (432, 548.7055487062917),
 (1085, 1541.1262883135332),
 (545, 531.6741413963628),
 (505, 629.7959524053276),
 (883, 1376.5936320392302),
 (1679, 1151.1076914054593),
 (143, 466.10055431518595),
 (195, 353.6083473945346),
 (427, 547.7691243321515),
 (707, 710.4056455962691),
 (1148, 1273.746523442589),
 (228, 217.45790401809973),
 (117, 53.51076716650459),
 (139, 230.9428812943279),
 (1461, 1142.6825169397143),
 (618, 815.8449107566867),
 (135, 357.7639506888354),
 (266, 698.7714161370004),
 (1915, 1154.1892141165717),
 (133, 27.443745342161492),
 (262, 272.35782778210523),
 (1444, 1751.1101448176214),
 (165, 358.02443118303745),
 (649, 719.9952986002372),
 (815, 1251.7063679787043),
 (1209, 651.1359007450446),
 (1281, 680.4265190148963),
 (154, -5.001291345348363),
 (313, 536.6553066845518),
 (132, 254.26037486159657),
 (750, 729.7904919265748),
 (1047, 1404.336071014739),
 (130, -55.32235415360083),
 (533, 548.3328125842072),
 (962, 698.9504181390857),
 (1864, 841.3896074726217),
 (2393, 707.7643521355931),
 (177, 153.38193826825045),
 (251, 109.48305565479677),
 (439, 1235.6331901744215),
 (171, 86.5179166196449),
 (254, 212.696381570202),
 (252, 536.5351390267533),
 (254, 299.01374923414915),
 (810, 710.400515932417),
 (532, 787.941058746339),
 (740, 630.2259710840717),
 (2685, 753.4002552886959),
 (403, 588.8962109798231),
 (586, 639.2701802564625),
 (247, 324.2990104210967),
 (479, 1287.756863350378),
 (156, 164.0410773534495),
 (159, 121.00454780967084),
 (491, 697.7464052791365),
 (454, 589.03745577269),
 (186, 34.8221164470051),
 (648, 574.0096286775552),
 (180, 227.00504109867688),
 (142, 6.488680285749069),
 (541, 308.31913876834915),
 (734, 729.8740948039376),
 (166, 40.57117532023767),
 (127, 253.05343585531955),
 (199, -335.5437288768708),
 (1043, 666.1557645035082),
 (775, 670.124693628437),
 (639, 898.2337857328221),
 (201, 1152.1131465897815),
 (137, 46.746026198883555),
 (1551, 1279.8002317263345),
 (267, 242.051243435144),
 (364, 734.7264830785025),
 (467, 679.1439238761723),
 (144, 272.42631188589803),
 (252, 310.4381312218575),
 (1231, 642.5449667908379),
 (277, 699.2263120955777),
 (2223, 873.6631838624598),
 (481, 643.5801091738613),
 (1301, 647.1286580545693),
 (175, 851.8104167723377),
 (734, 815.8969297983222),
 (802, 653.6042533804648),
 (294, 879.1765024051911),
 (477, 708.1573298267904),
 (1700, 841.3065156653101),
 (169, 27.28199533899351),
 (501, 685.9983869367097),
 (523, 858.5265831954421),
 (295, 597.6015386161835),
 (623, 706.899893758231),
 (599, 1213.4285207063167),
 (810, 762.3736254100568),
 (632, 630.0293911935496),
 (436, 639.6033523129881),
 (163, 275.32335326022985),
 (1088, 753.5213729763382),
 (330, 788.1609797947385),
 (517, 573.667128258905),
 (134, 11.866194692787758),
 (1737, 1304.2343011172143),
 (333, 878.9076888511681),
 (311, 536.65220472082),
 (773, 1690.7868300932932),
 (223, 225.98138709881096),
 (199, 31.35619589685848),
 (532, 879.1170591423706),
 (1232, 1322.8193480656082),
 (153, 438.05449870966004),
 (148, 438.54392327597634),
 (158, 257.0290697259952),
 (414, 323.8970793838198),
 (512, 643.831826208625),
 (337, 702.9580420377843),
 (188, 273.26827303940263),
 (2791, 855.5348974030094),
 (115, 114.31026424899028),
 (299, 549.5402675912774),
 (1948, 647.2087111013079),
 (219, 242.0343861322799),
 (735, 815.8963770785067),
 (1299, 1169.6662462524073),
 (120, 128.29702452310448),
 (909, 698.4929779652921),
 (165, 133.41154452211958),
 (427, 1306.317507365089),
 (220, 253.32141836955816),
 (144, 65.17882092720902),
 (1179, 1756.0868751918188),
 (1033, 710.1657860753203),
 (171, 585.800183504658),
 (336, 664.6397543511175),
 (1731, 1206.1497459565362),
 (189, 109.21758179117751),
 (818, 698.5425938821245),
 (751, 1633.7034213124716),
 (2208, 1259.8098211725446),
 (223, 1262.1823544873714),
 (169, 228.65769469070437),
 (480, 556.4105503484861),
 (283, 1404.7041109021302),
 (711, 1373.8601489080975),
 (2322, 1366.90427647047),
 (158, 357.1929183677548),
 (2524, 1890.4946124483504),
 (638, 694.2551203452131),
 (122, 129.85476175500662),
 (1442, 679.3059187485615),
 (147, 31.721512944795904),
 (168, 222.87124276500072),
 (189, 164.05137433047275),
 (361, 734.7265821786859),
 (1791, 753.4571061742208),
 (1516, 841.2973173543942),
 (125, -30.558821776359764),
 (214, 371.7023775519956),
 (1667, 1448.9718565626736),
 (343, 1534.8694749462047),
 (869, 722.2889016779536),
 (243, 300.71706495072794),
 (213, 337.6823057634774),
 (1340, 1644.8166211738917),
 (177, 741.777536856649),
 (1213, 666.2625811514572),
 (1427, 679.5686981925846),
 (130, 152.995989593599),
 (542, 702.1778463317078),
 (1148, 1184.0818130535208),
 (1303, 683.20074901722),
 (2258, 835.1243668835777),
 (1190, 1223.08909915629),
 (513, 1371.0141090732595),
 (363, 1318.4090086937304),
 (190, 390.33170163368413),
 (169, 115.7261936705454),
 (1493, 1159.5111049898733),
 (548, 643.7697880516571),
 (164, 340.18229680539116),
 (733, 1230.9070750850697),
 (1143, 815.9556079013946),
 (219, 724.7282671887497),
 (325, 294.3673832788263),
 (133, 272.6792189383232),
 (1831, 1214.861408188428),
 (2421, 698.6637092940055),
 (1789, 1147.950746967892),
 (444, 698.8954446035477),
 (1398, 1241.4548143435368),
 (393, 670.8542137098921),
 (795, 781.6973308679371),
 (1859, 1373.6666827378049),
 (375, 339.6403092377677),
 (784, 679.5723290206352),
 (376, 219.0080973152908),
 (373, 879.1854236139279),
 (304, 545.3336036569599),
 (1779, 1284.4154559805083),
 (525, 527.0665135675245),
 (148, 251.33775516161586),
 (124, -48.65639225434461),
 (184, 438.595398192987),
 (287, 1276.210774417761),
 (121, 149.29557883805683),
 (434, 547.9528913988597),
 (2794, 720.5257822256208),
 (186, 1190.1358121980702),
 (131, 155.91246122947996),

In [111]:
Ytest.head(2)

4785    2634
7708     136
Name: Quantity_Sold, dtype: int64

In [112]:
from sklearn import metrics

In [113]:
metrics.mean_squared_error(Ytest,outPredicted)

241760.15951719132

In [133]:
metrics.mean_squared_error(Y1test,outPredicted1)

241757.1312108636

In [114]:
import statsmodels.formula.api as sm

In [118]:
result=sm.OLS(Y,X).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Quantity_Sold   R-squared:                       0.502
Model:                            OLS   Adj. R-squared:                  0.500
Method:                 Least Squares   F-statistic:                     375.3
Date:                Fri, 03 May 2019   Prob (F-statistic):               0.00
Time:                        19:59:04   Log-Likelihood:                -25427.
No. Observations:                3367   AIC:                         5.087e+04
Df Residuals:                    3357   BIC:                         5.094e+04
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Mapped_Item_Code                              -0.1842      0.006    -30.754      0.000      -0.196      -0.172
Median_Price                                  79.5127    143.634      0.554      0.580    -202.107     361.133
Average_Tax_Percent                        -1.375e+05   9.49e+04     -1.449      0.147   -3.24e+05    4.86e+04
Effective_Price                              -81.4379    137.797     -0.591      0.555    -351.613     188.737
Percent_Quantity_With_Discount                24.9372    100.021      0.249      0.803    -171.172     221.046
Avg_Discount_Percent_On_Discounted_Items     939.1182     48.379     19.412      0.000     844.263    1033.974
Car_sales                                      0.0565      0.022      2.591      0.010       0.014       0.099
F_and_B_Inflation                             41.8434     10.153      4.121      0.000      21.937      61.750
F_and_B_Inflation_Adjusted_Effective_Price  1.144e+04   1.93e+04      0.594      0.553   -2.63e+04    4.92e+04
F_and_B_Inflation_Adjusted_Median_Price    -1.133e+04   2.01e+04     -0.564      0.573   -5.07e+04     2.8e+04
==============================================================================
Omnibus:                      875.363   Durbin-Watson:                   1.934
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3229.582
Skew:                           1.254   Prob(JB):                         0.00
Kurtosis:                       7.091   Cond. No.                     9.78e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.78e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [134]:
result1=sm.OLS(Y,X1).fit()
result1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          Quantity_Sold   R-squared:                       0.502
Model:                            OLS   Adj. R-squared:                  0.500
Method:                 Least Squares   F-statistic:                     422.3
Date:                Fri, 03 May 2019   Prob (F-statistic):               0.00
Time:                        20:15:52   Log-Likelihood:                -25427.
No. Observations:                3367   AIC:                         5.087e+04
Df Residuals:                    3358   BIC:                         5.093e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
Mapped_Item_Code                              -0.1841      0.006    -30.753      0.000      -0.196      -0.172
Median_Price                                  -1.5505      1.597     -0.971      0.332      -4.682       1.581
Average_Tax_Percent                        -8.598e+04    2.6e+04     -3.313      0.001   -1.37e+05   -3.51e+04
Effective_Price                               -3.6810      2.855     -1.289      0.197      -9.279       1.917
Percent_Quantity_With_Discount                24.8013    100.011      0.248      0.804    -171.287     220.890
Avg_Discount_Percent_On_Discounted_Items     939.8454     48.357     19.436      0.000     845.033    1034.658
Car_sales                                      0.0566      0.022      2.597      0.009       0.014       0.099
F_and_B_Inflation                             41.2638     10.100      4.086      0.000      21.462      61.066
F_and_B_Inflation_Adjusted_Effective_Price   569.9029    369.226      1.544      0.123    -154.027    1293.833
==============================================================================
Omnibus:                      878.841   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3258.323
Skew:                           1.257   Prob(JB):                         0.00
Kurtosis:                       7.111   Cond. No.                     2.57e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.57e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""